[2021-06-17 14:44] Truthans opened #2 "Market Data from Pitch Deck"
User numbers from pitch deck to create infographic about kubernetes market numbers

https://docs.google.com/presentation/d/1IhNccQ70IAaogWtBg8IVtjwryz4f7Fvj8qG7CtTUO9Y/edit?usp=sharing

[2021-06-23 13:57] Truthans opened #3 "LinkedIn Post: Change Management Effectiveness"
https://docs.google.com/document/d/1zvd7mW0LMxunSqNBZreABfIIJnxBtoI7Gf5E476XGkc/edit?usp=sharing

- [x] Expand copy text
- [x] Create post formatted for LinkedIn

[2021-06-23 14:02] Truthans opened #4 "LinkedIn Post: Lack of standardization creates problems"
https://docs.google.com/document/d/171Cs997toA4inxG7dwFnzuTeQrw78rocKtoohWfY60c/edit

- [x] Expand copy text
- [x] Format for LinkedIn Post

[2021-06-23 14:14] Truthans opened #5 "LinkedIn Post: An end to context switching"
https://docs.google.com/document/d/1bZ7EUoeYQROPKpHJiqUX87uJTIaQNnCCwPSmJdZlBGE/edit?usp=sharing
- [x] Expand copy text
- [x] Prepare for posting on LinkedIn

[2021-06-23 14:54] Truthans opened #6 "Infographic: The Cloud Native Evolution Model"
https://docs.google.com/spreadsheets/d/1VkYCvr6ADW4252ppLkMRh3SCnZhhrX1HZ0eQVq-K8BI/edit?usp=sharing
![Uploading cloud_native_evolution_model.png…]()

- [ ] Rebuilt example of Robert with Canva (remove duplicate icons)
- [ ] Create copy text for linked in Post

[2021-06-23 14:55] Truthans opened #7 "Infographic: The top 5 advantages of Unikube"
https://drive.google.com/file/d/1f3b4lzLJGZnTlh0CL_xnpvKEJ_ekqKyz/view

[2021-06-23 14:56] Truthans opened #8 "Infographic: Why you should use kubernetes with unikube"
https://drive.google.com/file/d/1ZIrSOiSFm5Dc8aZ_jMFhBPJGOeoS5DYt/view

[2021-06-23 14:59] Truthans opened #9 "Video: Unikube Demo"
https://drive.google.com/file/d/1Y3Y4RL5pWWIQKHg1U7Nk7mTCo5SNkmT4/view?usp=sharing
- [x] Finalize script
- [x] record 2nd take
- [x] Upload on website or on YouTube

[2021-06-23 15:02] Truthans opened #10 "Video: What is a kubernetes cluster"
https://drive.google.com/file/d/1w2Y9sboXtR6CTWfzLBp6tdo7BMqnriVt/view?usp=sharing

[2021-06-23 15:09] Truthans opened #11 "Video: What is kubectl"
https://drive.google.com/file/d/1S1_9bet5y33XjdD4emaZld78wf0WYgFm/view?usp=sharing

[2021-06-23 15:10] Truthans opened #12 "Video: What is Unikube"
https://docs.google.com/presentation/d/1F6ZkqVnZ8H_XEg3DPe2IigLL4FHFXZySSAi7p5nKA2Y/edit?usp=sharing

[2021-06-24 11:39] Truthans opened #13 "Blog: Managed vs. Unmanaged Kubernetes"
https://drive.google.com/file/d/1KNwdURfmrWZL6_qA01a2b1olfaMt2us4/view?usp=sharing

- [x] Translation
- [x] Revision
- [x] Enter in CMS
- [x] Complete meta data and URL
- [x] Add filter categories
- [x] Include all Links
- [x] Remove blueshoe references
- [x] Publish

[2021-06-24 11:44] Truthans opened #14 "Blog: New features for django hurricane"
https://drive.google.com/file/d/1ObYXPPwkzfgajftAtcA3N7oAeQ3gd1dF/view?usp=sharing

- [x] Translation
- [x] Revision
- [x] Enter in CMS
- [x] Complete Meta Data and URL structure
- [x] Add filters
- [x] Add all hyperlinks
- [x] Remove references to blueshoe
- [x] Publish

[2021-06-24 12:22] Truthans opened #15 "Blog: django development for kubernetes"
https://drive.google.com/file/d/1uybOj6bBiGSRbHZq_pJAKBRDviNr49xB/view?usp=sharing

- [x] Translation
- [x] Revision
- [x] Enter in CMS
- [x] Complete Meta Data and URL
- [x] Add filters
- [x] Add hyperlinks
- [x] Remove references to blueshoe
- [x] Publish

[2021-06-24 12:28] Truthans opened #16 "Introduce unikube in other fitting open source projects"
TBA

[2021-06-24 13:14] Truthans opened #17 "Create Unikube YouTube Channel"
- [x] Create channel
- [x] create graphics
- [ ] post first video(s)
- [ ] Invite subscribers

[2021-06-24 13:17] Truthans opened #18 "Implement new E-Mail signatures"
- [x] Create new siganture
- [x] Roll out company wide once new website is live

[2021-06-24 14:08] Truthans opened #19 "Plan Softlaunch strategy"
We need to make a plan on what acitivities we will focus once the product is ready to show:

- What are we doing on LinkedIn?
- Mail outreach to whom?
- Live demo or webinar?
- Documentation and guides ready?
- Blogpost on blueshoe.de?
- Post on product hunt?
- Post on relevante boards (reddit, quora, kubernetes.io forum, ?)?
- Campaigns? Adwords, LinkedIn, Reddit?

[2021-06-24 14:13] Truthans opened #20 "Create Wiki for marketing assets and style guides"

[2021-06-25 11:40] Truthans opened #21 "svg illustrations"
We need to check in with Ana, whether we can have the attached illustrations as svg.

![about-bg (1)](https://user-images.githubusercontent.com/5262921/123419903-17cf6300-d5bb-11eb-9c72-eeeb23bdbb83.png)
![mission-bg](https://user-images.githubusercontent.com/5262921/123419908-19992680-d5bb-11eb-881f-0c628daf95a0.png)

[2021-06-28 09:18] Truthans opened #22 "Necessary changes in footer"
Change postcode to "80337"
Change "ADRESSE" to "ADDRESS"
Change "KONTAKT" to "CONTACT"

[2021-06-28 09:19] Truthans commented on #22
Hi @tobifroe, is it ok if I assign this ticket to you?

[2021-06-28 11:45] tobifroe commented on #22
Sure @Truthans. Maybe we should add a label for dev related website issues or create a new project to separate dev issues from actual content todos, what do you think?

[2021-06-28 12:04] Truthans commented on #22
@tobifroe makes sense. I'll take of it for any future dev tasks.

[2021-06-28 19:41] Truthans opened #25 "Feature List"
I'd like to move the features away from the home page and give them their own space.

This would be the page:
https://cms.unikube.io/features/

- [x] Decide on feature structure
- [x] List features and describe them
- [ ] Enrich with media (pics, video)
- [x] Proof reading
- [x] Publish

[2021-06-30 15:22] Truthans commented on #25
I will provide a first draft of the features

[2021-06-30 16:02] Truthans opened #26 "Create a getting started guide"
- [x] Create first draft
- [x] Review and enrich
- [x] Publish

[2021-06-30 16:06] Truthans opened #27 "Mail Outreach"
- [x] identify targets
- [x] Prepare mail text
- [x] Create demo link in hubspot
- [x] Shoot

[2021-07-05 06:34] tobifroe commented on #22
@Truthans Done, I guess you can mark this as resolved.

[2021-07-05 07:14] Truthans commented on #22
Moved this into a new project just for the technical part of the website. And closing the issue.

[2021-07-05 07:14] #22 closed

[2021-07-05 07:16] Truthans opened #28 "Image Block Changes"
@tobifroe I tried the ImageBlock today: https://youtrack.blueshoe.de/issue/BSW-255

- The plugin forces me to input text. Should be optional
- The plugin forces me to decide for the position "left" or "right". I should have the option "center" too. Image should be full size with this plugin
- When I add the plugin to the website, the preview breaks and returns a server error

Can you have a look a

[2021-07-05 07:45] Truthans commented on #25
I have created a first draft. I think it's not visible live yet, but just in preview mode:
https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/81/edit/preview/

Would be great to enhance this.

Can you have a look @SteinRobert @Schille ?

[2021-07-06 08:33] Truthans opened #29 "Inconsistency in buttons"
@tobifroe as discussed in our call, the buttons currently are inconsistent in the different plugins. They should all behave like the button in the key features section on the landing page.

[2021-07-06 11:42] tobifroe commented on #29
@Truthans This should be fixed now.

[2021-07-06 11:59] Truthans commented on #29
Perfect, thank!

[2021-07-06 11:59] #29 closed

[2021-07-06 12:28] tobifroe commented on #28
@Truthans Fixed, text is now optional, I added "center" as an alignment option + the preview works as expected.

[2021-07-06 13:11] Truthans commented on #28
@tobifroe unfortunately when using a .svg file the preview still returns a server error.

[2021-07-06 14:24] tobifroe commented on #28
@Truthans My bad. .svg files are fixed now.

[2021-07-06 14:31] Truthans commented on #28
Yep, that works. Thank you!

[2021-07-06 14:31] #28 closed

[2021-07-06 18:54] Truthans opened #30 "Create an FAQ"
https://docs.google.com/document/d/1m0XCg_1X48fZxrNpfCBNN4R6whF40Y5aqZfI3fI-u2Q/edit#

We want to create a FAQ
- [x] Create and source questions
- [x] Create answers
- [x] Integrate in CMS
- [x] Publish

[2021-07-07 10:58] Truthans opened #31 "Corrections of blog overview page"
Hi @tobifroe,

the blog overview page shows a few behaviors that need to be corrected. See video attached.

https://user-images.githubusercontent.com/5262921/124748083-f65b6900-df22-11eb-9476-8a058004f7b0.mp4

[2021-07-07 11:45] tobifroe commented on #31
@Truthans This is fixed. FYI: The grey background was caused by the button being in focus. I changed the focus style to match the hover style in this section.

[2021-07-07 13:44] Truthans commented on #31
Works, thanks a bunch!

[2021-07-07 13:44] #31 closed

[2021-07-07 15:17] Truthans opened #32 "Modal view for HeaderVideoSection"
Hi @tobifroe, the video in the header section is relatively small at the moment. Yesterday we though about a quick solution. Can you give the plugin the option, that the video will open in a bigger modal when the user presses play?

[2021-07-08 07:21] Truthans opened #33 "Mobile menu"
@tobifroe can you check the mobile menu of the website please? There are a few displaying issues at the moment.

[2021-07-08 07:36] tobifroe commented on #32
@Truthans As in, adding a checkbox "open in modal" to the plugin admin?

[2021-07-08 08:02] Truthans commented on #32
Correct. Would that work?

Von meinem iPhone gesendet

[2021-07-08 08:44] Truthans commented on #32
However, if it's easier right now, we could just make it as a default for the time being.

[2021-07-08 09:05] Truthans opened #34 "Preview mode broken"
@tobifroe when @Schille switched the domains yesterday and put the page live, I think he accidentally broke the preview mode. When previewing at the moment we get the content from Unikube but the styling is all blueshoe. For the live page it's fine though.

[2021-07-08 09:10] Truthans opened #35 "Imprint + Data privacy"

[2021-07-08 09:18] marty-2015 opened #36 "Blog: Strategies for slim docker images"
https://docs.google.com/document/d/1AgofUW2X26QwZpALnmUPopu-VJYDBUp9/edit

- [x]  Translation
- [x]  Revision
- [x]  Enter in CMS
- [x]  Complete Meta Data and URL
- [x]  Add filters
- [x]  Add hyperlinks
- [x]  Remove references to blueshoe
- [x]  Publish

[2021-07-08 09:18] marty-2015 commented on #36
- [ ] test1
- [ ] test2

[2021-07-08 09:25] tobifroe commented on #33
@Truthans Fixed.

[2021-07-08 09:35] Truthans opened #37 "Devops Evolution Model Infografik"
Convert attached infographic into a unikube style infographic with Joel Knifeld via upwork.

Two of the icons are currently the same. General style is pretty good, so it may just need a few more tweaks.
Also, proofreading would be nice.

![cloud_native_evolution_model (1)](https://user-images.githubusercontent.com/5262921/124899752-b65abb80-dfe0-11eb-8b32-80875e29e0ed.png)

[2021-07-08 10:30] marty-2015 opened #38 "Blog: How does Kubernetes development work?"
https://docs.google.com/document/d/1y1d_Cer-Q5Z9Qg5CGvblP1g_O7ONknWC/edit

- [x] Translation
- [x] Revision
- [x] Enter in CMS
- [x] Complete Meta Data and URL
- [x] Add filters
- [x] Add hyperlinks
- [x] Remove references to blueshoe
- [x] Publish

[2021-07-08 11:51] Schille commented on #34
I fixed that already.
(wagtail configuration required a fix)

[2021-07-08 11:51] #34 closed

[2021-07-08 13:52] marty-2015 commented on #35
Legal Notice:
https://docs.google.com/document/d/1hK-g71yQOLDvo-W2mNnjC0BF7wRSjcNITd_p5kNDbYI/edit

[2021-07-08 13:53] marty-2015 commented on #35
Privacy:
https://docs.google.com/document/d/1QK2W8SOIHfcU0MKffcpJ81XKeInz55ymLjzyTRgSDys/edit

[2021-07-08 14:05] marty-2015 opened #39 "Title Tag still displays Blueshoe automatically"
See screenshot for blog
<img width="827" alt="Bildschirmfoto 2021-07-08 um 16 09 04" src="https://user-images.githubusercontent.com/86047585/124936486-e3ba6000-e006-11eb-8578-d20bd7901a5e.png">

[2021-07-08 14:29] Schille commented on #39
This seems to be hard-coded in `frontend/.nuxt/index.js` Line 86. I forward that issue to @tobifroe

[2021-07-09 06:46] tobifroe commented on #39
@marty-2015 Fixed, title tags on unikube.io now end with "| UNIKUBE".

[2021-07-09 10:00] #33 closed

[2021-07-09 10:00] #39 closed

[2021-07-09 10:03] Truthans opened #40 "Button not displaying correctly"
@tobifroe in the mobile view of the blog overview section, the filter articles button doesn't display correctly and is still in German language. Would be good to change it to "filter articles"

![IMG_3894](https://user-images.githubusercontent.com/5262921/125061610-cc827d80-e0ad-11eb-88eb-d10de589e1f6.PNG)

[2021-07-09 12:32] tobifroe commented on #40
@Truthans The mobile filter button works as intended now.

[2021-07-09 15:37] tobifroe commented on #32
@Truthans Videos now open in a modal by default, I'll look into adding modals as an option next week.

[2021-07-13 08:33] #40 closed

[2021-07-13 18:58] Truthans commented on #9
New version:
https://drive.google.com/file/d/1aJySIkJQ7RG8bILoysCl9nRVN82ANDky/view?usp=sharing

[2021-07-13 19:00] Truthans commented on #9
@marty-2015 kannst du den neuen Protoyp mal Dierk bzw. dem Kollegen zukommen lassen, sagen, dass das eine prototypische Version ist, die wir jetzt gern in "geil" hätten. Mich würde interessieren ob sie dazu Ideen haben und was das kostet.

[2021-07-13 19:31] #15 closed

[2021-07-13 19:31] #38 closed

[2021-07-13 19:33] #36 closed

[2021-07-13 19:34] #13 closed

[2021-07-13 19:34] #14 closed

[2021-07-13 19:35] #21 closed

[2021-07-14 08:34] marty-2015 commented on #9
Hab per Mail angefragt für nen Call. Du bist CC.

[2021-07-14 09:27] Truthans commented on #9
Alright, we also need to proof reading for the script and the presentation.

[2021-07-14 13:56] marty-2015 commented on #9
Proofreading is requested.

[2021-07-14 14:04] marty-2015 commented on #35
Task: Fill out data privacy form for consulting.

[2021-07-15 12:56] marty-2015 opened #41 "LinkedIn Post: Flow State"
https://docs.google.com/document/d/1nqPhvNdDJTVTucfCrksJ3Twd2AzPpOgNfhKwHyN85Rs/edit

- [x]  Expand copy text
- [x]  Prepare for posting on LinkedIn

[2021-07-15 13:38] Truthans opened #42 "Orchestration comparison"
- [x] write blogpost and teaser

![Unikube COEC - Infographic (Inverted)HalfSize](https://user-images.githubusercontent.com/5262921/125797623-31d918aa-0355-467e-a5f1-57dc0213745f.png)

[2021-07-15 14:06] marty-2015 commented on #5
@Truthans please check edited text

[2021-07-15 14:07] marty-2015 commented on #4
@Truthans please check edited text

[2021-07-15 14:07] marty-2015 commented on #41
@Truthans please check edited text

[2021-07-19 08:39] Schille commented on #37
Today, I got a new version from Joel

[2021-07-19 08:51] #19 closed

[2021-07-19 09:07] Truthans opened #43 "Website icons"
Following icons would be needed from our pakistani agency on Upwork:

- [ ] Cloud (hosted)
- [ ] On Premise
- [ ] Developer
- [ ] Operations
- [ ] Manager
- [ ] Platform
- [ ] CLI
- [ ] Automation

[2021-07-19 09:10] Truthans commented on #43
@SteinRobert I remember, that you also wanted a few more icons?

[2021-07-19 09:26] SteinRobert commented on #43
Yes! Good thank you remembered :)

1. We need an icon for "synchronization".
It will be used on the project list (https://app.zeplin.io/project/5f84546964e43c2749571f59/screen/5f845c6ce1cb3f27e42e4ee9) next to the edit and delete icon.
2. A terminal icon. Same as the previous one, will be used like the delete and edit icons.
3. We're using snackbars (https://app.zeplin.io/project/5f84546964e43c274

[2021-07-19 09:32] marty-2015 opened #44 "Blog Header new"
- [ ] brainstroming ideas header graphic
- [ ] briefing designer
- [ ] internal review
- [ ] finalized

[2021-07-19 12:00] marty-2015 commented on #37
Editors feedback:
[Cloud-Native Development Evolution Model - Sheet1_Annika Edit.pdf](https://github.com/unikubehq/marketing/files/6840570/Cloud-Native.Development.Evolution.Model.-.Sheet1_Annika.Edit.pdf)

[2021-07-19 12:53] Schille commented on #37
Sure. I have two version. This is the color-inverted one.
![Unikube C-NDEM - Infographic (Inverted)HalfSize](https://user-images.githubusercontent.com/676722/126162481-a2284c22-c54d-43e8-82fd-6afb86972967.png)

[2021-07-19 12:54] Schille commented on #37
I'd put a "Stage" above the number so it's more clear. The Editor's feedback seems to be resolved already.

[2021-07-19 13:16] marty-2015 commented on #37
Feedback:
- I don't like the radar beams, because they distract from the main content, also the writing gets way too small when we have that much space on the sides.
- Kubernetes is the only green icon (draws a lot of attention). Either all blue or all mixed?
- editors feedback still has to be worked in
- bullet points (actual points) are missing (sections 4+5)
- Section 3 (examples): is it "event

[2021-07-20 11:50] marty-2015 commented on #25
@Truthans I have added pictures in the preview mode, please check.

[2021-07-21 10:12] marty-2015 commented on #4
Some ideas for visuals @Truthans
https://www.canva.com/design/DAEk0apjEzc/EICBIPsigpYIHZXGacwbCQ/view?utm_content=DAEk0apjEzc&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink

[2021-07-21 10:12] marty-2015 commented on #5
Some ideas for visuals @Truthans
https://www.canva.com/design/DAEk0apjEzc/EICBIPsigpYIHZXGacwbCQ/view?utm_content=DAEk0apjEzc&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink

[2021-07-22 09:50] marty-2015 commented on #17
Header proposal @Truthans
https://drive.google.com/drive/folders/1WZmTsieTxGWgg1IbdR_A8wUAxgXZDy1h

[2021-07-22 11:34] marty-2015 commented on #17
YouTube Channel
https://www.youtube.com/channel/UCPpSDnhRyuMNx9wRbqMSLLg/about

[2021-07-22 12:52] Truthans commented on #42
I started:
https://docs.google.com/document/d/1wY_lLjCcPo21cjRtSWlDavfoU6w7yxqoawDKMDs3BvI/edit?usp=sharing

[2021-07-22 13:20] Truthans commented on #42
@Schille can you post the updated infographic here?

[2021-07-22 14:05] marty-2015 commented on #5
To Do: implement feedback for visuals

[2021-07-23 09:44] Truthans commented on #42
@Schille I am ready with a first rough draft. Could you take some time for an initial review?:
https://docs.google.com/document/d/1wY_lLjCcPo21cjRtSWlDavfoU6w7yxqoawDKMDs3BvI/edit?usp=sharing

[2021-07-23 09:48] Schille commented on #42
Here the latest version
![Unikube COEC - Infographic (Inverted) (V3)](https://user-images.githubusercontent.com/676722/126765397-5b0f5079-4894-43ed-b2fa-d0616db18a31.png)

[2021-07-23 15:08] Truthans opened #45 "Create Unikube Master Template"

[2021-07-26 08:16] marty-2015 opened #46 "Blurred display of images"
- Image/Screenshot is blurred in the accordion plugin. Text cannot be read.

[2021-07-26 08:17] marty-2015 commented on #46
![Bildschirmfoto 2021-07-26 um 09 58 06](https://user-images.githubusercontent.com/86047585/126956569-e23da8e2-e2b3-465f-aa12-4fe214b3d16b.png)

[2021-07-26 09:19] marty-2015 commented on #5
Visuals updated

[2021-07-26 09:20] marty-2015 commented on #4
Visuals upated

[2021-07-26 14:37] marty-2015 opened #47 "Content Pipeline Back-up Dok"
https://docs.google.com/document/d/1uK_4PvrybLh8DgKefkRT04ERdNIBCE_coTqGWLABxIo/edit#

[2021-07-26 14:41] marty-2015 opened #48 "Back-up: Content-Marketing Ideas/Hacks"
- Content Marketing in general
https://docs.google.com/document/d/11e8payNsOvZs5N91Fx8Jvp3amhLKeHiWm2p-ph-nWJI/edit

- B2B Growth Hacks
https://docs.google.com/document/d/1u_qp0YLLU4QKFQqoDzXCAAQYesEMqNy4_Nh6ylTY7VA/edit

- B2B Content Seeding
https://docs.google.com/document/d/1pwhyFGfAB6aFAPb1jMgYmPEmDyRYD8CcoMlrsBvoDUc/edit#heading=h.qv9g08f09ch6

[2021-07-26 14:43] marty-2015 opened #49 "Reddit Ads Research"
Ads, Targeting, etc.
https://docs.google.com/document/d/16zWfRRRWh9yJq1GuTYVigP4GxjIyJXgiTTDTLCouO24/edit

[2021-07-26 17:03] Schille commented on #42
Nice text tho. I'd suggest to have @tschale take a look as well.

[2021-07-26 17:08] Schille commented on #37
That's the version I would go with. I cannot see starkly required adjustments anymore.
![Unikube C-NDEM - Infographic (Inverted) (V2)](https://user-images.githubusercontent.com/676722/127029832-b3747be8-aa04-4f55-83ab-6df9efcc6e6c.png)

[2021-07-26 17:09] Schille commented on #37
What would you @unikubehq/tech-marketing like to do with it next? Have a blog article about it?

[2021-07-26 17:10] Schille commented on #27
How may I support this process at this point?

[2021-07-26 17:10] Schille commented on #9
How may I support this process at the moment?

[2021-07-26 17:13] Schille commented on #9
https://drive.google.com/file/d/1tWmXoykbzAm0hpjGMZENeEdMlDfIfkmU/view?usp=sharing

[2021-07-27 08:24] Truthans opened #50 "Static Page Generator for documentation and knowledgebase"
For the unikube documentation as well as our cloud native knowledgebase, we would like to implement a static page generator (like gatsby) in order to integrate contenbt via markdown.

Additional requirements:
- Should run in a folder of the main domain, not on a subdomain

Attached are a few designs, that we had made a while ago. These are not set in stone.

[2021-07-27 08:30] marty-2015 commented on #37
Ja Blog-Artikel macht Sinn. Für Social Media ist die Grafik nicht wirklich geeignet. Habs grad mal probeweise auf Linkedin gestellt. Siehe Screenshot.
![Bildschirmfoto 2021-07-27 um 09 58 30](https://user-images.githubusercontent.com/86047585/127122683-1cf205d8-0f93-463d-8211-343c11800bfb.png)

[2021-07-27 08:43] marty-2015 commented on #46
Please also consider our blog page. We have some new graphics which would need (almost) full width and a bigger height - similar to the  like the title image. So the picture display options in the main text should be adaptable to different sizes.

Example of big/small images: https://unikube.io/blog/new-features-django-hurricane/

[2021-07-27 08:47] marty-2015 commented on #12
New version:
https://drive.google.com/file/d/1aJySIkJQ7RG8bILoysCl9nRVN82ANDky/view?usp=sharing

Proofreading is done.

[2021-07-27 08:48] marty-2015 commented on #9
No, the conversation belongs to the other video. Sorry.

[2021-07-27 08:49] marty-2015 commented on #9
@Schille I like the new video, it has a good quality.
@Truthans Should we put this video on our main page until we have the final "what is unikube"- video?

[2021-07-27 10:12] Schille opened #51 "`Hosting options` on our website not really applicable"
We currently have in section hosting option `Cloud` and `On-Prem`. Although it will be possible to self-host the unikube platform (with both options of course) we want to promote prospects to use the SaaS-option we provide.

To run a dedicated installation of unikube will be part of the documentation or a special service-offering ("Premium Support").

[2021-07-27 12:35] Truthans commented on #9
@marty-2015 I suggest adding a additional section either above "Unikube streamlines..." or above "Features". Use the TextAndVideoSection and put the video on the left side. The text for the video should be something about the demo, i. e. what the user will learn.

[2021-07-27 13:29] marty-2015 commented on #18
Hier ist ein Link, um eine Signatur zu erstellen, die meiner entspricht: https://www.hubspot.de/email-signature-generator?customCtaColor=%2300dd99&customCtaTextColor=%23ffffff&fontFamily=Arial&fontSize=medium&linkColor=%23000630&logoImage=https%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1ufcI33t-8CcPwMbuLccg57s8Ref1sg19&template=templateOne&textColor=%23000000&themeColor=%23000630&viralToggle=false

[2021-07-27 13:46] Schille commented on #37
Yes, you're right. It's just not working for social media. But now I think the briefing was already not suitable for social media in the first place.

[2021-07-28 07:34] marty-2015 commented on #37
Yes, its too much text. But I talked to @Truthans yesterday and he thinks we can post it anyway, if we link to the blog with a better display of the visual.

[2021-07-28 08:47] marty-2015 opened #52 "Expand Video-Plugin to YouTube Integration"
Since we can only upload videos up to 10/32MB we want to expand the Video-Plugin to be able to integrate links form YouTube.

[2021-07-28 08:49] marty-2015 commented on #9
@Truthans video cannot be uploaded, because of the size. I have opened a new ticket for expanding the video-plugin to YouTube integration. #52

[2021-07-28 12:40] SteinRobert commented on #43
Is this already progressing? I have another icon to add:
It would be great if we had a ship's wheel as an icon.

[2021-07-28 18:13] Truthans commented on #18
@marty-2015 du musst den Link in der Signatur noch anpassen, der geht immer noch auf die www. subdomain. Signatur ist approved. Bitte jetzt Termine mit jedem machen, Signatur vorbereiten und implementieren.

[2021-07-28 19:06] Truthans commented on #27
@Schille
Here is the list of companies I'd like to re-connect to now. If put in a column who should do it. I think your contacts should be very personal.
https://docs.google.com/spreadsheets/d/1VneioNUi3VNdrW-WuMhD8DdCsLn5Yg6B3ursTV3aL1A/edit?usp=sharing

I'll contact my guys with the template I recently showed you.

I created a new demo link for you, which should be synced with your calendar. At

[2021-07-28 19:14] Truthans commented on #37
@marty-2015 do you think you can work out a blogpost for this or do you prefer me to do it?

[2021-07-28 19:15] Truthans commented on #9
@marty-2015 well spotted. Please keep attention on this while I am gone. It's a very relevant piece of content.

[2021-07-29 08:50] marty-2015 commented on #46
This image should be visible (text readable) for example
![image](https://user-images.githubusercontent.com/86047585/127462023-1f03dce7-3ece-47cd-baf5-45dcc2fa06d3.png)

[2021-07-29 09:12] Truthans commented on #12
@marty-2015 @Schille I have significantly shortened the script and made it a little more general. What do you think?
https://docs.google.com/document/d/1MWNslUuw_XOCQvHfGPpJqZIJa7Y98-9k2Lo0UJX6vUE/edit?usp=sharing

[2021-07-29 09:14] marty-2015 commented on #18
Hier ist ein Link, um eine Signatur zu erstellen, die meiner entspricht: https://www.hubspot.de/email-signature-generator?customCtaColor=%2300dd99&customCtaTextColor=%23ffffff&fontFamily=Arial&fontSize=medium&linkColor=%23000630&logoImage=https%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D13L1EqKWcb8aF8g8kxkSZd9wHdC1BhRH6&template=templateOne&textColor=%23000000&themeColor=%23000630&viralToggle=false

[2021-07-29 12:47] Truthans commented on #43
@SteinRobert it's in progress now. I just briefed it but need to wait for the freelancer to accept the job.

[2021-07-29 13:22] #17 closed

[2021-07-29 13:30] Truthans commented on #50
Here are the knowledge base designs:
https://drive.google.com/drive/u/0/folders/1YNY8_9f2M-Z-al9kQpVEiswMcCAtlzZv

[2021-07-29 13:32] #32 closed

[2021-07-29 14:39] marty-2015 commented on #4
Finalized

[2021-07-29 14:39] marty-2015 commented on #5
Finalized

[2021-07-30 13:10] tobifroe commented on #50
@Truthans FYI: I created a [new repo](https://github.com/unikubehq/docs) for this.

[2021-07-30 13:56] SteinRobert commented on #50
The site is live and WIP: https://unikube.io/docs/

[2021-07-30 13:59] Truthans commented on #50
Holy cow! Nice job guys!

[2021-07-30 15:13] Truthans commented on #50
@tobifroe would be great if you could give @marty-2015 and me a little introduction to the publishing process via Github.

[2021-08-02 14:02] marty-2015 commented on #12
Nice work @Truthans. Please check out my comments in the doc.

[2021-08-03 16:05] Truthans commented on #42
@tschale I have reviewed the text once more after @Schille's comments. Could you have another look at this?

[2021-08-04 09:53] Truthans commented on #37
@Schille I have written a small article around the model:
https://docs.google.com/document/d/1TF87HPzgbMLR8gHD6ujbdNpPnUeikrCnjT86D7cmlS0/edit?usp=sharing

Also, there is a type in Stage 4 in the illustration: "Continues Integration" --> "Continuous Integration"
Als, is there a comma missing between ArgoCD and Service Mesh?

[2021-08-04 13:48] tschale commented on #42
@Truthans Looks good! I've corrected few minor spelling stuff and left two minor comments in the document. And I'm not so sure about all those commas and possibly missing commas, but I have no knowledge on that part...

[2021-08-04 15:24] tschale commented on #37
@Truthans I've reviewed the article. Overall I think it looks good, although there might be a little bit more content at stage 4 and 5, just as it is at stages 1-3.

[2021-08-05 07:57] Truthans commented on #43
@SteinRobert here are your icons, do you have feedback / change requests?:
https://projects.invisionapp.com/share/CUYLNLP58MK#/screens/456467289_Webapp_-_Icons

Here are also the new website icons:
https://projects.invisionapp.com/share/CUYLNLP58MK#/screens/456467288_Website_-_Icons

I like all of these.

[2021-08-06 12:40] Truthans commented on #43
@marty-2015 I have added you to a conversation on Upwork regarding the icons. The icons that the agency designed are good but we have not yet received the pngs and svgs. Once we get these, can please forward the ones Robert requested to him and save the ones that we wanted for website as well as trying if they work.

If there are changes necessary, please take care of it.

[2021-08-11 11:39] marty-2015 commented on #43
@SteinRobert I have put the icons in this folder https://drive.google.com/drive/folders/1GljQk5SgyBN-mmtpVxC0VJf-UyX1lQix
As far as I can see, we have all the images, that you requested. Right? If there is something else missing, please let me know.

[2021-08-11 11:53] marty-2015 commented on #43
One more question @SteinRobert: I just saw that some of the icons only work on colored background (like devops, developers, managers, error) - that was intended, right?

[2021-08-11 14:10] SteinRobert commented on #43
Unfortunately idk. The icons we requested for the application are fine. The ones for the website I haven't briefed, therefore I don't know how these are meant to be used.

[2021-08-12 09:01] marty-2015 commented on #43
Ok, I think we haven't briefed other versions for the website, so this should be fine for now.

[2021-08-18 07:00] Truthans commented on #27
@Schille is your calendar still connected to HubSpot? The meeting link in general seems to work, but it doesn't seem to consider any of your booked times. I don't know why. I also compared it with our group meeting link which we used in the past and which used to work well, it definitely takes my appointments into consideration but not yours.

Hence, it looks definitely like your calendar is disco

[2021-08-18 07:36] Schille commented on #52
I think this just got deployed. Please close this issue if you can confirm it working.

[2021-08-18 09:53] Schille commented on #27
@Truthans don't know why I had to connect it again. Anyway it seems to be working now.

[2021-08-18 13:58] Schille commented on #9
May we close this issue?

[2021-08-18 14:57] #9 closed

[2021-08-18 15:47] Schille commented on #37
I requested the required changes for the illustration.

[2021-08-18 15:57] marty-2015 opened #53 "Kubernetes Tools List"
https://www.linkedin.com/posts/vasu-maganti_devops-observability-gitops-activity-6832055362674401280-GR9E

[2021-08-19 06:54] marty-2015 commented on #52
@tobifroe can you please check the video play function again? I inserted a new content block (under features) and push the play button, the video opens in a bigger window, but doesn't start playing. This also happend in the preview, but now its the same in live mode.

[2021-08-19 06:58] marty-2015 opened #54 "Images Issue Tiles"
I have changed the images (svgs) in the tile section for features two times this week and it still shows the "old" images I tried last thursday. For the CLI image it doesn't display anything at all (See screenshot). Is there something wrong with cache clearing?

[2021-08-19 06:59] marty-2015 commented on #54
<img width="1218" alt="Bildschirmfoto 2021-08-19 um 08 54 56" src="https://user-images.githubusercontent.com/86047585/130022711-0d549d40-471f-457b-b465-968a6cd415c4.png">

[2021-08-19 14:25] tobifroe commented on #54
The CLI icon is not available in our [storage bucket](https://storage.googleapis.com/blueshoe-website-v4.appspot.com/documents/CLI.svg). I tried reuploading but no luck. @Schille Any idea why this would happen?

@marty-2015 The platform/automation icons are the correct ones that were set in the admin interface, did you publish your changes correctly?

[2021-08-19 15:15] Schille commented on #54
I uploaded the CLI.svg using the GCP console. It's working now. Please open up another issue if we have a general problem with document uploads.

[2021-08-19 15:15] #54 closed

[2021-08-19 15:28] Schille commented on #52
Youtube seems to be still not really working. I temporarily switched the video to one we have in the GCP storage bucket.

[2021-08-23 08:19] marty-2015 commented on #52
The video works now. Thanks.

[2021-08-23 08:19] #52 closed

[2021-08-23 11:46] marty-2015 commented on #37
Please review @Schille https://unikube.io/blog/cloud-native-development-evolution-model

[2021-08-23 15:06] marty-2015 opened #55 "Blog: Migration to Cloud Native"
https://docs.google.com/document/d/1yjFBiBoWMw3udDMAAYNuG15ghYekuO8ITueL779Gj0c/edit#

- [x]  Translation
- [x]  Enter in CMS
- [x]  Complete Meta Data and URL structure
- [x]  Add filters
- [x]  Add all hyperlinks
- [x]  Remove references to blueshoe
- [x]  Publish

[2021-08-23 15:08] marty-2015 commented on #55
translation requested

[2021-08-24 08:26] marty-2015 opened #56 "General problem with document/svg upload"
I have changed the images (svgs) in the tile section for features and "what unikube is for" today and published it. It displays 3 of the 6 icons in the preview mode correctly, the other ones are still old svgs.

[2021-08-24 11:26] #37 closed

[2021-08-25 08:48] #18 closed

[2021-08-25 09:25] marty-2015 opened #57 "General survey: 3 questions on linkedin"

[2021-08-25 09:26] marty-2015 commented on #57
<img width="534" alt="Bildschirmfoto 2021-08-25 um 11 24 30" src="https://user-images.githubusercontent.com/86047585/130765338-d41e8462-c649-4c46-9ae3-58b65aa86b13.png">

[2021-08-25 10:16] marty-2015 commented on #42
- [x] Proof Reading
- [ ] Teaser Social Media
- [ ] Blogpost live

[2021-08-25 12:45] Schille opened #58 "Publish the Unikube concept draft on our website"
I don't know how, but we may publish the Unikube concept paper on unikube.io as well:
https://docs.google.com/document/d/12TALsDZpPD8WQhN0mh6LQdlmouGL-85x4ekKSp5TnI0/edit

[2021-08-26 13:23] marty-2015 opened #59 "Setting up Google Analytics"

[2021-08-26 13:28] marty-2015 opened #60 "Research LinkedIn Blogtool"
- Visibility
- Algorithm
- Examples of users with a lot of blog posts

[2021-08-30 12:16] marty-2015 commented on #55
@Schille @tschale please take a quick look at the published blog post (new pics). If this looks good, I can post it on social media this week.

[2021-08-30 12:29] marty-2015 opened #61 "Blog overview page - speed page reload"
Is there any way to speed up the process so that I can see the preview of a blog post in the blog overview more quickly when I have changed an image? https://unikube.io/blog/
It took almost 2 days last week until the new article was visible on the preview page at all.

[2021-08-30 13:38] marty-2015 commented on #42
@tschale please review this blogpost, still not sure about the first picture.
https://unikube.io/blog/container-orchestration-cloud-or-on-site/

[2021-08-30 13:39] marty-2015 commented on #42
@Truthans what do you think about the image issue?

[2021-08-30 14:38] marty-2015 opened #62 "Blog Post page - Image display full width"
The images in the blog post have the option of full width.
But it doesn't get displayed as full width. For the images with a lot of small text in it (e. g. https://unikube.io/blog/cloud-native-development-evolution-model/) the full-width-option would  be great to have.

[2021-08-31 08:38] Truthans commented on #56
@Schille would be great if you could look at this as soon as possible, as with the mail outreach to investors and potential customers, we will have a few more people on the website.

[2021-09-01 08:58] Truthans commented on #27
@Schille now that I am back from holiday I created a new demo booking link, that involves both of us:
https://meetings.hubspot.com/hannes/unikube-demo

[2021-09-01 10:57] Schille commented on #56
I think I know what happened here. There is no general problem with document/svg upload - I tried it myself.

However, once you upload a `document` (i.e. SVG) wagtail creates a reference to that very document in the storage location. The wagtail reference is then taken to apply it on several blocks/location in the CMS.
You updated these SVGs with exactly the same document name (e.g. `CLI.svg`) whi

[2021-09-01 10:57] #56 closed

[2021-09-01 13:57] marty-2015 opened #63 "First 10 articles in knowledge base"

[2021-09-01 13:57] #63 closed

[2021-09-01 14:32] marty-2015 opened #64 "False Meta Description"
When the link for the blogpost was posted in Google Chat, it still displayed "Blueshoe"  - though it doesn't say so in the meta descriptions I added. There must be some overall meta tag still running on blueshoe.

[2021-09-01 14:33] marty-2015 commented on #64
<img width="481" alt="Bildschirmfoto 2021-09-01 um 16 23 42" src="https://user-images.githubusercontent.com/86047585/131690337-8d398759-bd22-4956-84e6-9a31caac7067.png">

[2021-09-02 08:47] #43 closed

[2021-09-02 08:59] marty-2015 commented on #35
@Truthans @Schille I need your help for some remaining questions on the data privacy. I have put the open questions in a list for you to fill out more easily: https://docs.google.com/spreadsheets/d/1C6yBPoMaGaGRlCbSHjeA8sg_e34SkhcrYpejyvLUtUM/edit#gid=2078405909

[2021-09-02 14:02] marty-2015 opened #65 "Sidebar Docs (Knowledge Base/Footer) anpassen"
- Kubernetes raus
- Feature 3 raus
- Knowledge Base (doppelt)
- Footer Links

[2021-09-07 08:25] tobifroe commented on #62
Full width images should now work as expected.

[2021-09-07 08:50] #62 closed

[2021-09-07 08:52] marty-2015 commented on #64
My To Do: https://validator.schema.org/#url=https%3A%2F%2Funikube.io%2Fblog%2Fmigration-to-cloud-native%2F

[2021-09-07 11:50] marty-2015 commented on #64
@tobifroe here is a new list for you: https://docs.google.com/spreadsheets/d/1nLYDM5PW2mjcsL6iLO9OtqedcUYF8lyaBMwlcmKKSuY/edit#gid=1154914244

[2021-09-08 10:50] #6 closed

[2021-09-08 10:56] #65 closed

[2021-09-09 10:22] Truthans commented on #58
Hey @marty-2015 I'd like to publish this on the website. In the end we have 3 options:
1. Create a dedicated page on the website explaining the concept (we could link to this from the home page for example)
2. Create a knowledgebase article with the concept
3. Do a blog post with the concept

I tend to #1. What do you think?

[2021-09-09 10:52] Truthans commented on #42
@marty-2015 what issue do you mean? That the graphic is pixelated/blurry? If yes, then this comes from the image being scaled up programmatically. It's something that we need to adress with Tobi.

[2021-09-09 11:06] marty-2015 commented on #42
@Truthans the question is out of date ;)

[2021-09-09 11:19] Truthans opened #66 "Cookie Settings"
In order to give users the option to change their cookie settings, HubSpot needs us to implement the following code snippet on the page on which the settings should appear:

[code]

Here is more info:
https://knowledge.hubspot.com/de/reports/customize-your-cookie-tracking-settings-and-privacy-policy-alert#schaltfl%C3%A4che-%E2%80%9Ecookie-einstellungen%E2%80%9C-zum-cookie-richtlinienbanner-hinzuf%

[2021-09-09 11:28] Truthans commented on #35
@marty-2015 I have created an issue in the website technical project with regards to creating a link for users to change cookie settings. Once this is done, we can add it to the document.

[2021-09-09 12:43] marty-2015 commented on #55
@Schille please share our post on LinkedIn to the Kubernetes Group
- Link to post: https://www.linkedin.com/feed/update/urn:li:activity:6840922750723387392
- Kubernetes Group: https://www.linkedin.com/groups/6821178/
- Teaser text: Anyone dealing with the challenge of migrating existing projects into the Cloud Native workflow? These 3 examples might help you!

[2021-09-09 13:38] marty-2015 opened #67 "Backlink to Unikube Homepage from Wiki"
The Logo in the Wiki Navigation menu should link back to the Unikube Homepage.

[2021-09-09 13:39] marty-2015 commented on #67
![Bildschirmfoto 2021-09-09 um 15 37 38](https://user-images.githubusercontent.com/86047585/132696391-b8521b3b-0fd9-4f56-bb7f-64e2919846ae.png)

[2021-09-09 13:48] marty-2015 commented on #60
@Schille @Truthans
I couldn't find anything specific on the blogging tool. Therefore here some main research on LinkedIn and its algorithm.
https://docs.google.com/document/d/1oEC1XS9yOy1ztQw-cuIraxNQHFvsZR-FPHO4RZudSYY/edit

[2021-09-09 13:49] #60 closed

[2021-09-09 14:04] marty-2015 commented on #5
@Schille please post in Linkedin DevOps group:
- Text (V2) and Image: https://docs.google.com/document/d/1bZ7EUoeYQROPKpHJiqUX87uJTIaQNnCCwPSmJdZlBGE/edit
- DevOps Group: https://www.linkedin.com/groups/2825397/

[2021-09-09 14:30] marty-2015 opened #68 "Proofread Roadmap"
https://unikube.io/docs/roadmap/

[2021-09-09 14:32] marty-2015 opened #69 "Setting up Google Adwords"

[2021-09-09 14:35] marty-2015 opened #70 "Research start-ups"
Focus on Start-ups in Munich:
- local events/meet ups/talks
- websites & facebook (munich start up)

[2021-09-09 14:51] marty-2015 commented on #70
Research doc: https://docs.google.com/document/d/10wo0lZzXW2ZpIBm8pawHhUZJPaD7VBC-6K4YUtHT6a4/edit

[2021-09-10 16:31] Schille commented on #4
done. I added a link to unikube.io as it appeared to be missing.

[2021-09-13 08:40] marty-2015 commented on #4
General Question: Do we want to post the link in every post? I left it out on purpose, because we wanted to start a conversation on the topic, not on unikube at first. I think posting the link in the comments of the discussion would be a better option. What do you think @Truthans

[2021-09-13 08:59] Truthans opened #71 "Text for Reddit Post"

[2021-09-13 09:05] Truthans commented on #59
@tobifroe could you please add the following script to the unikube base template?

`
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H6N3GK3B5K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H6N3GK3B5K');
</script>`

[2021-09-13 09:12] Truthans opened #72 "Implement Logo for BMBF"
We have been granted a research funding from the BMWI which allows us to use the logo on our website.

Something like:

"Unikube is financially supported by the Bundesministerium für Bildung und Forschunt" + Logo

[2021-09-13 09:21] #50 closed

[2021-09-13 09:27] #25 closed

[2021-09-13 09:31] marty-2015 opened #73 "Interchange Videos"
Change position of video + alter text accordingly.
- How to create and run a project with Unikube (1)
- Setting up a kubernetes cluster in 140sec

[2021-09-13 09:37] marty-2015 opened #74 "Integrate YouTube videos in accordion"
Is it possible to integrate YouTube Videos into the accordion? The link should then open into a bigger pop-up where the video can be played in a proper size (responsive size for desktop & mobile)

[2021-09-13 09:39] marty-2015 commented on #4
@Schille We want to try out different channels to see which one works best. So we want to post this again in two weeks, on your personal linkedin account, without the picture, just the text. I will set a new milestone.

[2021-09-13 10:07] marty-2015 commented on #73
Done

[2021-09-13 10:07] #73 closed

[2021-09-13 10:10] marty-2015 opened #75 "Check YouTube Video Integration"
@tobifroe can you pleas check if the youtube video integration works now? Last time we tried, Michael relocated the video in a local storage, because the youtube-player didn't start to play on the website.

[2021-09-13 14:19] marty-2015 commented on #69
@Truthans I have set up a google search ad (dated for middle of october atm, budget: 5€ per day)
Please have a look:
https://ads.google.com/aw/adgroups?campaignId=14629836633&channel=1&ocid=255592303&euid=316536208&__u=5178680592&uscid=255592303&__c=1936280247&authuser=0

[2021-09-13 14:44] marty-2015 commented on #68
- [x] Named Cluster State (Please check file name - asset loader - again @Schille)
- [ ] Helm Overrides
- [ ] Health check for projects
- [ ] Remote Cluster Provider

[2021-09-13 15:19] marty-2015 commented on #68
To Dos @Schille
- Named Cluster State: Please check file name/slug - asset loader - again
- Health Check for Projects: Are there two health checks described in the text? One is called "Project Health Check", the other one is called "Project Check service" - If so, a new headline in between would be helpful. If its one and the same check, the naming should be consistent.

[2021-09-14 06:21] tobifroe commented on #75
@marty-2015 I think there was a misunderstanding - so far, the video component only supports direct urls to video files - eg in our cloud storage.

[2021-09-14 06:38] tobifroe commented on #59
@Truthans Something like [this](https://google-analytics.nuxtjs.org/) would be the clean solution. Would that work for us?

[2021-09-14 07:00] #67 closed

[2021-09-14 07:44] Truthans commented on #59
@tobifroe yes, as it looks I'd say this would work.

[2021-09-14 07:50] Truthans commented on #75
@tobifroe true. Ideally we want to be able to embed youtube videos in different parts of the website. For example blog posts or in the accordeons on the features page.

[2021-09-14 12:25] marty-2015 commented on #11
Teaser-Text LinkedIn:

🤓 In case you need a quick reminder about what kubectl is: We have asked our head of development Michael Schilonka to give us a quick explanation in less than 60 seconds. Mission accomplished 🤩

#softwaredevelopment #kubectl #askmichael #kubernetes

[2021-09-15 07:58] tobifroe commented on #64
Done. To double check, have a look at the [validator](https://validator.schema.org/#url=https%3A%2F%2Funikube.io%2Fblog%2Fmigration-to-cloud-native%2F).

[2021-09-15 19:36] #27 closed

[2021-09-15 19:42] Truthans commented on #71
@Schille I created the following text on the base of your last post in the linkedIn django group. Could you post this in the following groups:

[code]
-> You may have to adapt this a little for reddit, since I don't know if there even is messaging or just commenting!

https://www.linkedin.com/groups/6821178/
https://www.reddit.com/r/kubernetes/

[2021-09-17 07:58] Schille commented on #71
https://www.reddit.com/r/kubernetes/comments/ppvwbv/feedback_for_a_new_open_source_k8snative/

[2021-09-17 07:58] #71 closed

[2021-09-17 08:01] Schille commented on #55
Love it.

[2021-09-22 20:16] Schille commented on #5
done today.

[2021-09-22 20:16] #5 closed

[2021-09-22 20:17] Schille commented on #4
done today

[2021-09-22 20:17] #4 closed

[2021-09-29 11:37] #55 closed

[2021-09-29 11:56] marty-2015 commented on #42
@Schille please post on your page and in Linkedin DevOps group:

**Text:**
☁️  Cloud or on-site? There are many ways to orchestrate your container landscape 🌳 , and I would like to give you a brief introduction to your options. Including a useful graph that shows all the pros 👍  and cons 👎

Check it out now:
👉  https://unikube.io/blog/container-orchestration-cloud-or-on-site/

#devops #containeriz

[2021-09-29 12:25] marty-2015 opened #76 "Blog: Local Kubernetes Development with Unikube"

[2021-09-29 12:26] marty-2015 commented on #76
Notes: https://docs.google.com/document/d/1wl8VXZTH7AOSvEC5kDzYUYs_srPR-kqr77hEsSumVEI/edit#heading=h.8knf8pg731w

[2021-09-30 09:04] Truthans opened #77 "Research Start-Up Events und Pitch Events"
https://docs.google.com/spreadsheets/d/1BtJrmX8b3SMdCD8ThohzLEWp5OKLzc60Chzfx14yqzM/edit#gid=0

Ideally we have some sort of calendar with all relevant pitch and startup events for Unikube

[2021-09-30 16:40] Schille commented on #42
done

[2021-09-30 16:40] #42 closed

[2021-10-01 10:12] Truthans opened #78 "Expand copy on organisation description on github"

[2021-10-04 09:14] marty-2015 commented on #78
To edit our profile: .github/profile/README.md in unikubehq:main
Example: https://github.com/github

[2021-10-05 09:30] tobifroe commented on #66
@Truthans I added a block called "HubspotCookie", it can be used in any StandardPage and returns the snippet centered in a div. I added it to https://unikube.io/data-privacy/.

[2021-10-05 14:17] marty-2015 commented on #77
https://docs.google.com/spreadsheets/d/1BtJrmX8b3SMdCD8ThohzLEWp5OKLzc60Chzfx14yqzM/edit#gid=0

[2021-10-06 07:00] #66 closed

[2021-10-06 08:58] Schille opened #79 "Topics for new content"
I currently have the following ideas for content, potentially blog posts:
- [ ] What means "cloud-native": from a technical perspective  (b)
- [ ] What means "cloud-native": from a business perspective  (b)
- [ ] A cloud-native reference architecture for website applications (from our client projects)  (e)
- [ ] Unikube for open source projects  (b)
- [ ] Writing Kubernetes Operators with Kopf (ht

[2021-10-06 12:59] marty-2015 commented on #35
@Schille so you mean ALL the text options marked in the rows with your name are correct? Since you have only filled out one row. Also one more open question: Storage duration of the server log files is 30 days?

[2021-10-06 13:14] marty-2015 commented on #64
@tobifroe can you please change one more thing?
WebSite
alternateName | Blueshoe Digital Products --> Unikube

[2021-10-06 14:15] marty-2015 commented on #79
@Truthans Why don't we start with two ideas first and then go from there? Having 9 new issues on the board will otherwise be too chaotic.
@Schille which two would you prioritize? I like "What does Cloud Native mean?" - we can also collect some short statements/answers on this topic for postings on LinkedIn, etc.

[2021-10-07 07:20] tobifroe commented on #64
@marty-2015 Done. :)

[2021-10-07 07:35] #64 closed

[2021-10-07 09:53] marty-2015 commented on #58
Done & linked two times on the homepage.
Unikube Concept Draft Page: https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/90/edit/preview/

[2021-10-07 10:13] marty-2015 opened #80 "Displaying Bold option - Rich Text Editor"
Can we make the bold typo visible in the displayed text on the page?

[2021-10-07 12:26] marty-2015 opened #81 "Interview: Munich Start-up"
Questionnaire:
https://docs.google.com/document/d/1_8ehh4w6GtUIUXSHtK1JDyrowwuioqKc/edit

[2021-10-07 13:27] marty-2015 commented on #26
Path: docs/src/guides/

[2021-10-07 14:10] marty-2015 opened #82 "The 12 factor App"
https://12factor.net/dev-prod-parity

[2021-10-11 13:03] marty-2015 commented on #66
@tobifroe I have inserted the new cookie button on both pages (UK and BS) now.
Since there is a lot of white space in the middle of the text now, can you make the padding around the button a little bit smaller?
![Bildschirmfoto 2021-10-11 um 15 01 16](https://user-images.githubusercontent.com/86047585/136794588-a948080d-6de7-4a74-a774-1540a3b36b8a.png)

[2021-10-11 15:16] tobifroe commented on #66
@marty-2015 I can change the button spacing, sure.
I don't know wether we can reuse the cookie snippet on blueshoe.de, there might me some settings to change before we do? @Truthans might be able to tell us.

[2021-10-12 12:13] marty-2015 commented on #77
@Truthans let's have a meeting on that topic and discuss which events are t he most interesting for Unikube.

[2021-10-12 12:14] #70 closed, assigned to marty-2015

[2021-10-14 11:51] marty-2015 opened #83 "List Incubating Projects with Helm Charts"
https://docs.google.com/spreadsheets/d/1Dpg7maFdNahwi-UkxdWzQsLxE1ACewKfGWWTxbfTHSU/edit#gid=0

- [x] List projects: https://landscape.cncf.io/card-mode
- [x] Find helm charts & contact person
- [ ] Configuration (done by Gutschi)
- [ ] Screencast "Project set-up"
- [ ] Send final video (YouTube Link) to contact person (Either by mail, slack, discord)

[2021-10-18 07:31] marty-2015 opened #84 "Deutsche Start-ups: Podcast 180 Sekunden & Start-up-Liste"
Zunächst einmal brauche ich dafür einige Infos über euer Konzept. Einige Sätze reichen. Namen der Gründer:innen sind auch hilfreich.

URL:

Ort:

Gründer:

Social-Media-Profile:

Gegründet/Gestartet:

Ich würde euch gerne auch für unseren Pitch-Podcast gewinnen...

Im Startup-Radar-Podcast bieten wir Gründern:innen die Chance, ihre Idee zu pitchen - in 180 Sekunden!

Alle bisherigen Folgen gibt es

[2021-10-18 11:49] marty-2015 commented on #84
To Dos:
- [x] Infos rausschicken
- [x] 180 Sekunden-Podcast-Pitch aufnehmen

[2021-10-18 13:18] marty-2015 opened #85 "Eintrag im Gründerverzeichnis von Gruender.de"
Ein Eintrag in unserem Gründer-Verzeichnis kostet 899 Euro.  Hier erhaltet ihr einen vollwertigen Artikel mit einem ausführlichen Steckbrief über euer Unternehmen bzw. die Gründer sowie einen Do-Follow-Link zur Unternehmens-Webseite. Ihr würdet dann nicht nur bei den Tech-Gründern erscheinen, sondern auch bei den deutschen Gründern.

Im Anhang findest du außerdem nochmal unsere aktuellen Mediadate

[2021-10-19 11:21] #80 closed, assigned to tobifroe

[2021-10-20 11:08] marty-2015 commented on #78
@Truthans can you please have a look at the text. If its ok like this, I will publish it on github.

[2021-10-20 11:37] SteinRobert commented on #26
The unikube.yaml file - yes. The shell commands are still too indented.

[2021-10-20 19:17] Truthans commented on #78
@marty-2015 I like it. Made a few additions. Ready to go afterwards.

[2021-10-21 09:12] marty-2015 commented on #26
I don't see any other indented lines in this doc: https://docs.google.com/document/d/1i6cIpgz4bCtDKwh8qJDsK-ykjv4mGD3A48IHwdIp82c/edit#

[2021-10-21 09:39] SteinRobert commented on #26
Exactly. That's why I was wondering the commands the documentation have too much indentation.

Please compare https://unikube.io/docs/guides/installation.html#installation-via-pip with yours https://unikube.io/docs/guides/getting-started.html#local-machine-setup

The commands in the "getting started guide" have too much indentation.

[2021-10-21 13:05] #81 closed, assigned to Truthans, marty-2015

[2021-10-25 09:09] marty-2015 opened #86 "New graphics by Joel"
1. Unikube Workflow
2. Developers and their interaction with Kubernetes clusters

[2021-10-28 11:38] marty-2015 opened #87 "Create a Help Page"
Preview of Help & Support Page
https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/91/edit/preview/

- Links on main home page
- slack login/invite
- get help/support
- get involved on github (company profile descritption)

[2021-10-28 11:43] marty-2015 opened #88 "Get Unikube on Product Hunt"
- Product Hunt Website: https://www.producthunt.com/
- How to launch a product: https://blog.producthunt.com/how-to-launch-on-product-hunt-7c1843e06399
- Start-up Research Doc: https://docs.google.com/spreadsheets/d/1BtJrmX8b3SMdCD8ThohzLEWp5OKLzc60Chzfx14yqzM/edit#gid=143633394

[2021-10-28 11:43] marty-2015 opened #89 "Application details for Y Combinator"
https://www.ycombinator.com/apply/

[2021-10-28 15:14] marty-2015 opened #90 "Graphic for Naive Workflow"
Update: Naive workflow, deadline 11.11.

[2021-11-02 09:38] tobifroe commented on #75
@Truthans @marty-2015 The Text/Video section can now handle YouTube videos.

In order to embed a YT video, click share -> embed and copy the link that's in the code snippet. Formatting should look like this: https://www.youtube.com/embed/IxlbsfuYH8A
Paste it in the video URL field and you should be good to go. Please don't put a trailing slash at the end of the YouTube URL, that might lead to prob

[2021-11-03 11:18] marty-2015 commented on #86
For me these new versions look fine. Pleas have a look @Schille

Reiterated illustrations:
1. Unikube Workflow: https://drive.google.com/file/d/1DjiagCFKV1wameKczISFD5AmuliN8PH5/view?usp=sharing
2. Developers and their Interactions with a Unikube Cluster: https://drive.google.com/file/d/1xtv2-KC5L70NTxuLI_dGlaZEDbP_08sd/view?usp=sharing

[2021-11-03 15:21] marty-2015 commented on #86
Final Feedback given to Joel (03.11.)

[2021-11-04 13:12] marty-2015 commented on #3
@Schille please post in DevOps Group: https://www.linkedin.com/groups/2825397/

[2021-11-04 14:44] marty-2015 commented on #87
![Bildschirmfoto 2021-11-04 um 15 43 30](https://user-images.githubusercontent.com/86047585/140334767-85cc1db6-60ac-4c5c-a500-1fdfb7334673.png)
Please review @Truthans

[2021-11-04 16:03] marty-2015 opened #91 "Django Hurricane Marketing"
Django Agencies: https://docs.google.com/spreadsheets/d/1BF3bxVeAkpbOoF6v1aihJMZ8gW91PF1Rx92W9umzdkI/edit#gid=0

Website: https://django-hurricane.io/        -     Role model: https://quarkus.io/

- [x] Proofread Website  https://github.com/Blueshoe/django-hurricane/tree/master/website except documentation
- [x] Add Legal Notice & Link to BS Data privacy
- [x] Research Django agencies
- [x] Write

[2021-11-05 09:27] Truthans commented on #87
@marty-2015 yes, this looks a lot better! Something we can then gradually do, is link up the most important guides in the first section. For example
- Getting started
- Installing the CLI
- CLI Documentation

[2021-11-08 10:06] Truthans opened #92 "Optimize "How does Kubernetes Development work" blog post"
This blogpost currently gains some traction for interesting keywords. I'd hope that expanding and optimizing it could help getting some valuable klicks:

https://unikube.io/blog/how-does-kubernetes-development-work/

Here are the current top 50 rankings for that post:
https://docs.google.com/spreadsheets/d/1Ftw_yZzOyGowuPVsK3Yz9geaT7qwvOlzm5M7ECQ1uLc/edit?usp=sharing

[2021-11-08 10:11] Truthans opened #93 "Table of contents in blog posts"
To make it easier to read and comprehend our longer blogposts, it would be great if we had the option to include a table of contents at the beginning of blogposts with anchor links to certain sections of the post.

[2021-11-09 08:49] marty-2015 commented on #86
Here are the final versions, please review @Schille

1. Unikube Workflow: https://drive.google.com/file/d/12zLf9dD8ip_r2C5o2Z1cYqIX30zoy5WJ/view?usp=sharing
2. Developers and their Interactions with a Unikube Cluster: https://drive.google.com/file/d/1VRDNx0ZJ4ScvbCMG98VtmXFBGCoqMHcI/view?usp=sharing

[2021-11-09 10:36] Schille commented on #86
Jepp. Now it's fine.

[2021-11-09 12:28] #86 closed

[2021-11-09 13:00] marty-2015 commented on #46
@tobifroe please also check this page for image resolution:
https://unikube.io/concept-draft/

[2021-11-09 13:23] marty-2015 commented on #87
@Truthans I have added the different guides to the list and published the help page.
URL is: https://unikube.io/help/
- Also I have added the page in the footer, under the link section - which is not visible at the moment (probably still cached)
- Should the page be linked to from somewhere else?

[2021-11-09 13:51] marty-2015 commented on #77
@Truthans this is still an open topic. Can we set up a meeting for this on thursday?

[2021-11-11 08:55] marty-2015 commented on #74
@tobifroe the Video in the video/text-section works, I'm just wondering whether we can have an auto-play function? Because now the user has to click two times to get the video started.

[2021-11-11 12:42] marty-2015 opened #94 "CloudExpo Europe 2022"
https://www.cloudexpoeurope.de/

- Sprecher/Talk-Platz für 2022 sichern, sobald neuer Termin für Expo steht

[2021-11-11 12:44] marty-2015 commented on #83
Update: Projects & Contact person matched - deadline 09.12.

[2021-11-11 12:47] marty-2015 opened #95 "Connect Help Page & Application Frontend"
- Update help link in unikube application to this page https://unikube.io/help/

[2021-11-11 12:53] marty-2015 opened #96 "Monthly task: YouTube Video Views"
https://docs.google.com/spreadsheets/d/1lhz_8md1Hx1lUG5rXJ95Ru69LLA8ADKTDrWTabdYNfI/edit#gid=0

[2021-11-11 15:30] marty-2015 commented on #91
@Schille I have created a pull request for the legal notice of django hurricane. This has to be linked to in the footer. How do I do this? Also we would like to ad a Link to the Data Privacy of Unikube or Blueshoe in the footer.

[2021-11-12 14:09] tschale opened #97 "Idea box for new blog post "Cloud Native: How does the application deployment actually work?""
Working title: "Cloud Native: How does the application deployment actually work?"

Idea:
Comparison of deployment process based on
- virtual machine (salt/ansible/..., installation of nginx, uwsgi, rabbitmq, ...)
- with kubernetes (helm charts, manual deployment or e.g. ArgoCD)
- kubernetes with hurricane

How can we integrate Unikube in this? We could add a section of how to spin up the local dev

[2021-11-15 14:26] marty-2015 commented on #91
@Schille I saw that the pull request is done, great, thanks. How can I access the footer to insert the links?

[2021-11-16 09:24] marty-2015 commented on #90
@Schille can you please have a look at the Naive Workflow illustration?

My changes would be:
- leave out Unikube Logo on the botton
- change color of workflow 8 (or is it better to have 2/4/5/7/8 in a similar color since they are all about Kubernetes?)
- arrow from service 1 to Kubernetes Dev Cluster is missing
- write manifests small (everywhere)
- question for workflow 3: Should this be called

[2021-11-16 09:24] marty-2015 commented on #90
Original Naive Workflow:
![Bildschirmfoto 2021-11-16 um 10 24 42](https://user-images.githubusercontent.com/86047585/141958338-42cf00c4-759f-45ed-96c0-97462710f7d8.png)

[2021-11-16 09:59] #87 closed

[2021-11-16 13:48] marty-2015 opened #98 "Blog: Unikube’s frontend Sentry integration"
https://docs.google.com/document/d/1qIvErzyM8G363gGESj-rsPbTb3G1t5wS-L0Z7OirKMQ/edit

[2021-11-16 13:52] marty-2015 commented on #98
This text looks more like a guide to me, do you think it should be in the blog section @Truthans ?

[2021-11-16 14:30] marty-2015 commented on #20
Please review @Truthans: https://github.com/unikubehq/marketing/blob/main/style-sheet.md

[2021-11-16 14:30] marty-2015 commented on #20
Fact sheet (wip): https://docs.google.com/document/d/1Q_M4YdjiKPfxP6YspMgyzNxhGGcBjHz72p-Om3LNhdc/edit#

[2021-11-16 15:17] Schille commented on #90
:+1:

[2021-11-16 15:18] Schille commented on #91
I did that already. Published.

[2021-11-17 09:46] marty-2015 commented on #91
Thanks @Schille. Two more things:
- Imprint should be called Legal Notice
- We need another link in the footer for data privacy linking to our bs data privacy: https://www.blueshoe.de/datenschutz/

[2021-11-17 09:53] marty-2015 commented on #90
@Schille can you please answer these two questions:
- question for workflow 3: Should this be called "K8s manifests exchanged & updated" or "K8s manifest: exchanges & updates"
- question for workflows 2/4/5: What are these actions called? Can we sum this up, so that we can write something in the caption at the top?

[2021-11-17 16:21] Truthans opened #99 "Adwords for django hurricane"
Could you set up a little adwords campaign for django hurricane?

https://django-hurricane.io/

Important is, that the keywords used must contain the word "django". So we don't want to rank for "kubernetes" only but for any combination with "django" i. e.:

django kubernetes
cloud native django
django with kubernetes
etc.

[2021-11-18 09:11] marty-2015 commented on #49
To Dos:
- Only text or image ads?
- Pricing
- Results: Impressions or clicks?

[2021-11-18 12:38] marty-2015 opened #100 "Stackoverflow Ads Research"
- Targetierung
- Pricing

[2021-11-18 12:39] marty-2015 opened #101 "Auf Reddit-Posting mit Unikube antworten"
https://www.reddit.com/r/kubernetes/comments/qvud59/how_to_develop_applications_on_local_kubernetes/

@Schille let me know if you need more input here, but I think it should be easy for you to comment on the ongoing discussion.

[2021-11-18 12:50] marty-2015 commented on #90
Exchanges & Updates of K8s manifests
Tedious infrastructure tasks

[2021-11-18 13:13] marty-2015 commented on #90
Feedback given 18.11.

[2021-11-22 10:51] #49 closed

[2021-11-22 13:17] marty-2015 commented on #12
Update: @Truthans I just made a feedback doc for the current prototype video

Prototype Video Jan/Dierk (22.11.): https://f.io/BTK4isvG
Feedback Doc: https://docs.google.com/document/d/1toW-rttdVaLQ0rgn5fQqGbOglHBD9uxlDmMaXf63co4/edit

[2021-11-22 13:43] marty-2015 commented on #100
Update on Research @Truthans

**Summary:**

- Ethical & Carbon Ads contacted (22.11.) for pricing.
- Stackoverflow from 15k per month
- Reddit Premium from 10k or Auction Ads (your ad competes with other ads in the same ZG); options Text, Image, Video, or Gallery. Next step: Create account with credit card.

My proposal: Starting with text ads on reddit.

[2021-11-24 14:30] #90 closed

[2021-11-24 14:42] marty-2015 opened #102 "Add links to Django Hurricane Blogposts (BS & UK)"

[2021-11-24 15:02] marty-2015 commented on #100
Update Ethical Ads:
- min. 500$, better 1.000$
- Narrow targeting on Kubernetes not possible
- Reporting only in impressions not in clicks

[2021-11-25 09:20] #85 closed

[2021-11-25 09:34] Truthans commented on #20
Feedback ist jetzt im Fact sheet.

Style sheet noch ein bisschen ausbauen:
- Größen von Text und Überschriften
- Schriftarten im Text

[2021-11-25 10:00] #92 closed

[2021-11-25 11:15] marty-2015 opened #103 "Github: Unikube logos - Repo - White"
https://github.community/t/support-theme-context-for-images-in-light-vs-dark-mode/147981

[2021-11-25 14:40] marty-2015 commented on #99
Done.

[2021-11-25 14:40] #99 closed

[2021-11-29 11:05] marty-2015 opened #104 "German Startup Awards"
Herzlichen Dank! Deine Nominierung ist eingegangen. (29.11.)

[2021-11-29 12:44] marty-2015 commented on #104
Nach Ende der Nominierungsphase durchlaufen alle Bewerbungen eine Vorauswahl, um die Top 10 einer jeden Kategorie festzulegen. Diese dauert bis zum Ende des Jahres. Zu Beginn des neuen Jahres, werden dann alle Top-10- Kandidat*innen von uns benachrichtigt.

[2021-11-30 11:01] marty-2015 opened #105 "Finalize Content Structure: Guides/Wiki/Docs"
https://unikube.io/docs/guides/

New structure - to be discussed

[2021-11-30 13:50] marty-2015 commented on #103
@SteinRobert I think you created these repo visuals with the Unikube logo. Do you have a template for the logo design of the repositories (see screenshot)? We want to provide a white version for all of them (for github's dark theme) and we would like to make it identical to the colored version - so margins/paddings are accordingly.

![Bildschirmfoto 2021-11-30 um 14 45 28](https://user-images.gith

[2021-12-01 10:38] marty-2015 commented on #20
Made some changes. To be reviewed @Truthans :
- Style Sheet: https://github.com/unikubehq/marketing/blob/main/style-sheet.md
- Fact sheet: https://docs.google.com/document/d/1Q_M4YdjiKPfxP6YspMgyzNxhGGcBjHz72p-Om3LNhdc/edit#

[2021-12-02 09:44] marty-2015 commented on #100
@Truthans check out my idea for "Promoted Post: Gallery Ad" Reddit

Image number 1:
![Reddit_GalleryAd_1200x1200_2](https://user-images.githubusercontent.com/86047585/144397247-e8e4aeb7-4a1c-4e22-89e0-e7923a78556d.png)

[2021-12-02 09:45] marty-2015 commented on #100
Image number 2:
![Reddit_GalleryAd_1200x1200_1](https://user-images.githubusercontent.com/86047585/144397392-7b06cbe5-ea0d-4c69-803b-aad1ec553e32.png)

[2021-12-06 11:23] marty-2015 commented on #100
Things to do:
- punchline, one sentence (hackday)
- green background
- set up a document

![Vorlage_Reddit_LinkAd_1200x628](https://user-images.githubusercontent.com/86047585/144837729-a1793f75-7d9e-43e1-90ea-5e1e559e78b7.png)

[2021-12-08 13:20] SteinRobert commented on #79
Inspiration:
https://www.imaginarycloud.com/blog/nomad-vs-kubernetes/

[2021-12-08 13:50] marty-2015 commented on #91
reminder ping @Schille

[2021-12-08 13:50] #102 closed

[2021-12-10 10:09] tschale opened #106 "Select bitnami charts to run with Unikube"
We should sight and select the helm charts that are listed by bitnami (https://bitnami.com/stacks/helm) to run them with Unikube, as we did with the CNCF incubating projects (https://docs.google.com/spreadsheets/d/1Dpg7maFdNahwi-UkxdWzQsLxE1ACewKfGWWTxbfTHSU/edit#gid=0).

We should create a list to prioritize and create an order in which we try them out, preferably GitHub issues with priority labe

[2021-12-13 11:54] marty-2015 opened #107 "Java Guide for Unikube Installation/Setup"
Hackday December results can be posted here.

[2021-12-13 11:55] marty-2015 opened #108 "Try it now-Guide for Unikube"
Hackday December results can be posted here.

[2021-12-13 11:57] marty-2015 opened #109 "Update/enrich Feature List with Screencasts"
Hackday December results can be posted here.

[2021-12-13 12:00] marty-2015 commented on #12
Update Hackday December:

Video Script:
- https://docs.google.com/document/d/1TQb9uiCgzelASbY8nTMx1LUGS9Kfa-fK6zBaYi82b20/edit#heading=h.5x6pnqa707em  

Powerpoint Slides:
- https://docs.google.com/presentation/d/1NsIXGuEKw3uJyf8g4gQPt28kLxT8bIT7sawZb1BZb3c/edit?usp=sharing

Voice-over Script: 
- https://docs.google.com/document/d/1q6-XM8eR0y4bblBHb0_0uSgDfAY1ZWX5a3uvZ2U3YR8/edit#heading=h.u8jr0nw

[2021-12-13 12:02] marty-2015 opened #110 "Website Improvements"
Ideas Hackday December:
https://docs.google.com/document/d/1zdwuKoHEKE9IQry8noorIBJO3E5pV4UmDh1-cDwd_I0/edit#

[2021-12-13 12:04] marty-2015 opened #111 "Review Universal Illustration"
Final illustrations can be found here:
https://drive.google.com/drive/u/1/folders/1kFJd7Qo62gv3ecXbzIJbWMWwvgR-FKNZ

First drafts hackday:
https://docs.google.com/presentation/d/1R6Ed5s4OHPxJ7pJbzxGBAGO9hfHYh_-CmNjbfAyFeFc/edit#slide=id.g1069fee0162_1_0

[2021-12-13 13:52] marty-2015 commented on #108
First steps: https://docs.google.com/document/d/18wzqiCEPCuUzk_BtbLPY_xVCQdrJ38TumFe3g8l6v0A/edit

[2021-12-14 08:02] tobifroe commented on #108
The restructured guide can be found in [this PR](https://github.com/unikubehq/docs/pull/34).

[2021-12-20 10:35] marty-2015 commented on #111
@Schille @SteinRobert we have 3 versions of the universal illustration now and we would like to know which one you like best.

Version 1:
![Bildschirmfoto 2021-12-20 um 11 32 10](https://user-images.githubusercontent.com/86047585/146753765-4e83da50-dae7-41c1-9296-2de99bc5f16e.png)

[2021-12-20 10:35] marty-2015 commented on #111
Version 2:
![Bildschirmfoto 2021-12-20 um 11 31 49](https://user-images.githubusercontent.com/86047585/146753842-342a439e-9df1-485f-96e4-a66f46ff3a3c.png)

[2021-12-20 10:36] marty-2015 commented on #111
Version 3: (similar to V1, but other "Release Process Arrow")
![Bildschirmfoto 2021-12-20 um 11 32 22](https://user-images.githubusercontent.com/86047585/146753950-bd504864-bf97-43ba-95bd-c126dcac4fec.png)

[2021-12-20 12:29] marty-2015 opened #112 "Accelerator Program: Research for Unikube"
https://docs.google.com/spreadsheets/d/1BtJrmX8b3SMdCD8ThohzLEWp5OKLzc60Chzfx14yqzM/edit#gid=1803223038

- Famous Example: Y Combinator
- SAAS & IT specific programs

[2021-12-20 16:28] marty-2015 commented on #84
Podcast-Audio am 20.12. verschickt

[2021-12-20 16:28] #84 closed

[2021-12-20 16:32] marty-2015 commented on #91
Can you fit this in @Schille?

[2021-12-21 10:56] marty-2015 commented on #41
I updated the text, please review @Truthans

[2021-12-21 12:16] Truthans commented on #3
Posted. But is now in the hands of the group admins.

[2021-12-21 12:18] marty-2015 commented on #3
Thanks

[2021-12-21 12:56] marty-2015 opened #113 "SEO Update: How does local Kubernetes development work?"
- Insert "Local Kubernetes" as a keyword
- URL forward
- A short paragraph on Unikube with the local kubernetes cluster video

[2021-12-21 13:41] marty-2015 opened #114 "Redesign Login-Button (Frontend)"
Login-Button (atm still called Sign in) in the Navigation should be more highlighted.

[2021-12-21 13:52] marty-2015 opened #115 "Add Conversion-Button (Frontend)"
Conversion-Button-Text: Try it now or Try for free

[2021-12-21 13:54] marty-2015 opened #116 "New: Two Buttons Plugin"
- Two buttons should be displayed next to each other
- This could be an add-on for the existing plugins: text, text&image, text&video
- No background, dark blue border/font color

[2021-12-21 13:58] marty-2015 opened #117 "Vertical "News" ticker plugin"
- General idea: What all falls away when you work with Unikube. E.g. Select project, start coding.
No need to ... fight with devops (in a ticker)
                    ... install helm charts

- Vertical ticker: https://codepen.io/panwron/pen/EmyoRp

[2021-12-21 14:06] marty-2015 opened #118 "Add rich text option to "hover plugin""
- Hover Section can be seen here https://www.blueshoe.de/leistungen/website-agentur/
- Rich text for bullet points would be great for Unikube

[2021-12-21 14:08] marty-2015 commented on #110
@Truthans I have opened tickets for dev (project website technical). Can you assign the tickets to Tobi or Robert in the next Unikube meeting on friday?

[2021-12-23 10:13] marty-2015 opened #119 "Invisible links in accordion with blue background"
The links (in green) are only visible, when the background color of the accordion plugin is white. They disappear when the background color is blue.

Example: FAQs
https://unikube.io/faqs/ (I have now set the background to white everywhere so that the links are readable.)

![Bildschirmfoto 2021-12-23 um 11 14 21](https://user-images.githubusercontent.com/86047585/147225604-5c91f0c8-6468-4b6f-936e-

[2021-12-23 10:18] marty-2015 commented on #119
@tobifroe can you please have a look at this? I think its only a small issue.

[2021-12-23 12:19] #101 closed

[2021-12-23 12:48] marty-2015 commented on #109
@Schille please define 2-3 priority features which should be recorded in a screen cast. Also if there is already a feature list in place, please drop the link here.

Useful CLI-recording-tool: https://asciinema.org/

[2021-12-30 08:52] marty-2015 commented on #111
Version 2 briefed to Joel (30.12.); Change: 99% identical & App Code doesn't have to be displayed as boxes.

[2022-01-05 15:38] Schille commented on #91
done.

[2022-01-10 10:19] marty-2015 commented on #112
https://www.google.com/search?q=accelerator+startup&oq=accelerator+startup&aqs=chrome..69i57j0i512l4j0i22i30l5.7735j0j7&sourceid=chrome&ie=UTF-8

[2022-01-10 12:47] marty-2015 commented on #83
Update: First project: Open Telemetry, Gutschi & Michi, Brainstorming KW3 2022

[2022-01-12 09:06] marty-2015 opened #120 "LinkedIn Post: Improving Developer Productivity with Unikube"
https://docs.google.com/document/d/1GiFp9S_l7aXQCXr2Ztmd69VE35-ux0zRaAVv2yq-uIM/edit#

Turning this [blogpost](https://www.pulumi.com/case-studies/atlassian/#improving-developer-productivity-with-self-service-cloud-infrastructure) into a LinkedIn-Posting for Unikube.

Working title: Improving Developer Productivity with Unikube

[2022-01-12 09:30] #41 closed

[2022-01-12 11:18] marty-2015 commented on #120
@Schille @Truthans let's talk about this in our meeting tomorrow!

[2022-01-12 16:42] marty-2015 commented on #113
@Truthans the URL forwarding is still an issue for unikube.io - who can fix this?

[2022-01-12 16:45] marty-2015 opened #121 "Hackday '21 Follow-up"
Task list: https://docs.google.com/document/d/1DY5nIH0WdNaexfIk04l5JwGXn-RVaLHnOJbuE_cGCzw/edit

Hackday December 2021 Follow-up

**Marketing tasks:**
Java Guide for Unikube Installation/Setup: Gutschi & Veit #107
Try it now-Guide for Unikube: Tobi & Christian #108
Update/enrich Feature List with Screencasts: Michi #109
Website Improvements: Hannes & Mel #110
Review Universal Illustration: Mel - i

[2022-01-12 16:46] marty-2015 commented on #121
@Truthans here is a task list for all the open github issues from the december hackday

[2022-01-13 09:28] marty-2015 commented on #112
@Truthans I have found some interesting programs, lets discuss which ones are a good fit.

[2022-01-13 09:51] Truthans commented on #108
We either need to
a) consolidate our two current "getting started" guides:
- https://unikube.io/docs/guides/getting-started.html
- https://unikube.io/docs/getting-started/

or

b) change the naming of one guide to something like "try it now" or "give it a try"

Otherwise it's confusing.

[2022-01-13 09:54] tobifroe commented on #108
@Truthans The section at https://unikube.io/docs/guides/getting-started.html doesn't have any content that's not in the new Getting Started section afaik. I think we could just remove https://unikube.io/docs/guides/getting-started.html altogether?

[2022-01-13 09:58] Truthans commented on #114
Random example: https://www.gitpod.io/

[2022-01-13 10:05] #74 closed

[2022-01-13 10:06] Truthans opened #122 "Fix Google Analytics implementation"
Currently Analytics is recording data but unfortunately I can't get the tag manager to fire on certain events.

That makes it difficult to optimize our campaigns for conversions.

[2022-01-13 10:15] Truthans commented on #100
Suggestion:
"Setting up a local K8s development cluster in 140 seconds without prior knowledge? No problem!"

[2022-01-14 10:03] tschale commented on #108
Would it make sense to have the getting started guide only under https://unikube.io/docs/guides/getting-started.html and have the menu entry (https://unikube.io/docs/getting-started/) link to that?

[2022-01-17 08:58] marty-2015 commented on #111
V1:
![Unikube RP - Infographic - V1 2](https://user-images.githubusercontent.com/86047585/149738684-6f8ccc9a-22c7-4051-89c1-bf7cf314b3a4.png)

[2022-01-17 08:59] marty-2015 commented on #111
V2: @Truthans please feedback
![Unikube RP - Infographic - V1 2 (Inverted)](https://user-images.githubusercontent.com/86047585/149738885-080c01df-1699-4ecf-8581-2a2c3c7e50fb.png)

[2022-01-17 09:00] Schille commented on #111
Should we make "Helm / Manifests" to "Kustomize / Helm / Plain Manifests" ?

[2022-01-17 10:12] marty-2015 commented on #111
We wanted to make this illustration as simple as possible, so I would only change that if its really necessary for understanding. Otherwise I would think that when you see "OPs Team having something to do with manifests" - that the readers will understand what it means - don't you agree @Schille ?

[2022-01-17 14:31] Truthans commented on #111
I'd leave the part of the manifests either as it is or just make it into "various manifests". Other than that I prefer the bright version. In the dark Version I feel the dark boxes don't work well with the background. Also, please make sure we get versions with transparent background too.

[2022-01-17 14:32] marty-2015 commented on #91
I have researched some django agencies (How many do we want?) and I have made a proposal for the email text. @Schille @Truthans can you give me some feedback?  https://docs.google.com/spreadsheets/d/1BF3bxVeAkpbOoF6v1aihJMZ8gW91PF1Rx92W9umzdkI/edit#gid=846113784

[2022-01-17 15:05] Truthans commented on #91
@marty-2015 kannst du bitte für jede Agentur noch einen konkreten Ansprechpartner finden? Z. B. über LinkedIn? Sobald ich Namen habe, kann ich versuchen die persönlichen Mailadressen zu bekommen.

Außerdem den Text für's Anschreiben bitte auch noch einmal auf deutsch. Danke!

[2022-01-18 09:36] Truthans commented on #108
@tschale yes, that would absolutely make sense. Can you take care of that?

[2022-01-18 09:46] Truthans commented on #100
@Schille @SteinRobert considering that the rest of the team seems to have some sort of blockage when it comes to these marketing sentences, I'd hope that you may or may not have any more suitable suggestions for the one liner above.

[2022-01-18 12:17] tschale commented on #108
@Truthans I might find some time in March to take care of that, if we can/want to wait until then...

[2022-01-18 12:38] marty-2015 opened #123 "Django Hurricane Page for blueshoe.de"
I would also like to have a landing page on Blueshoe.de for django Hurricane and Gefyra, similar to the one for Unikube.

[2022-01-18 12:47] Truthans commented on #108
@tschale nah, that's way too long. @tobifroe do you see a chance to take care of that in the near future?:

[2022-01-18 12:52] tobifroe commented on #108
@Truthans This shouldn't take me too long. I might be able to get it done today, I can definitely do it this week.

[2022-01-18 14:22] marty-2015 commented on #91
@Truthans done. Wenn noch was fehlt, gib Bescheid.

[2022-01-18 15:30] tobifroe commented on #108
@Truthans @tschale Done. Vuepress Sidebars only support two levels of nesting, so when you go to "Getting Started" from the guides sidebar, some context is lost. Should I look into somehow getting all the sidebar bullets or are you fine with this for now?

[2022-01-19 10:00] Schille commented on #100
I would not use the three of us giggling around. I personally don't want to see my face on an ad or in a pose that was not agreed on.
We could instead use blurry images of "Kubernetes-structures" for the background and the unikube brand logo clearly visible beneath a bold (yet defensible) claim.

Brainstorming (target audience DevOps peeps):
- "Make your developers better Kubernetes developer ..."

[2022-01-19 12:32] marty-2015 commented on #100
@Schille the images with the three of you were just the first draft, we already agreed on using the simpler version with the Unikube logo - like in the image above.

Concerning your suggestions on the marketing sentence: I like the first one **"Make your developers better Kubernetes developers"**, the rest is way too negative if you ask me. Failing with Kubernetes is not exactly a good marketing t

[2022-01-19 12:43] Schille commented on #100
I know it's sort of provoking. =)
However, based on our interviews I found that people that are already expert with Kubernetes tend to grasp the problem and Unikube as the solution much faster. Hence, I am feeling not too bad to trigger them with slightly provoking messages (with regard to their inexperienced coworkers). I am open to discussion, of course.

[2022-01-19 14:14] marty-2015 commented on #123
First preview: https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/98/edit/preview/

[2022-01-19 15:19] Truthans commented on #100
@marty-2015 I actually don't think it's a terrible idea. "Failing early" in tech often also has a little more positive connotation. It plays along with i. e. Facebooks motto of "move fast and break things". Failing early means finding the right solution quicker and sparing others from you faults.

I would be inclined to try it. But I would try 2 or 3 versions anyway. In the end data will win.

[2022-01-20 09:32] #105 closed

[2022-01-20 09:35] marty-2015 commented on #113
FYI: @tobifroe the URL forward is another topic for our meeting on monday.
Update: URL Forward works.

[2022-01-20 09:36] Truthans commented on #108
I think it's fine for now. We'll do some real live testing and see what feedback we get.

[2022-01-20 09:52] #98 closed

[2022-01-20 09:57] marty-2015 opened #124 "Backlink to Unikube from Docs"
Clicking on the Unikube logo when in "Docs" refers back to the Unikube Homepage - but when you are deeper into the navigation e.g. getting started/installation the backlink only refers to the docs landing page.

https://unikube.io/docs/ --> backlink to Unikube HP works

https://unikube.io/docs/guides/getting-started/ --> backlink to Unikube HP doesn't work but redirects to Wiki-Starting Page

[2022-01-20 09:59] marty-2015 commented on #124
@tobifroe another website topic for you

[2022-01-20 10:32] tobifroe commented on #124
@marty-2015 Done.

[2022-01-20 10:32] #124 closed, assigned to tobifroe

[2022-01-20 13:45] marty-2015 opened #125 "Django Hurricane feature list"
We would like to have a list of advantages/features of Django Hurricane for the website. Maybe the list we have from Unikube [here](https://www.blueshoe.de/leistungen/unikube/) can be helpful.

The list can be in german or english - whichever is easier.

**Die Vorteile von Unikube**

- Automatisierung und Standardisierung von Entwicklungsprozessen und Dokumentation.
- Einfache Reproduktion der Pro

[2022-01-20 13:46] marty-2015 commented on #125
@vvvityaaa can you help me with this?

[2022-01-20 15:54] marty-2015 opened #126 "Improving the Docs section"
Adding more text and links to the following sections:

- [x] getting started
- [x] next steps
- [x] guides
- [x] adding FAQ links all over docs

text doc: https://docs.google.com/document/d/1ADPFVgBRniPR0OoiYnXeFTQZe2Ianob4vNcBw504DGE/edit

[2022-01-20 16:10] #108 closed, assigned to marty-2015

[2022-01-20 16:23] marty-2015 commented on #124
thanks @tobifroe

[2022-01-24 08:16] SteinRobert commented on #100
Hey guys, I would go a step further. Recently a tweet appeared in my timeline which looked like a person, linking their blog post about failing with X
So something like "Last week my K8S development setup broke - here's what I learned" or even "I keep failing at Kubernetes. It has to stop".

[2022-01-24 10:52] marty-2015 commented on #118
The hover plugin seems to be working for Unikube, font style is right. The only thing I noticed is that the headline is not centered like in all the other plugins (except accordion). Also we don't have the option to insert a button anywhere. Is thar necessary @Truthans ?
Other than that only the "rich text option" is missing @tobifroe

Test screenshot:
![Bildschirmfoto 2022-01-24 um 11 47 51](http

[2022-01-24 14:18] marty-2015 commented on #126
@Truthans done, please review. I also changed the "Knowlede Base"-page a little bit by inserting a table of contents

[2022-01-25 10:59] marty-2015 opened #127 "Check link function"
Please check the link function for the help page: https://unikube.io/help/

Affected links are:
- Get started
https://unikube.io/docs/guides/getting-started/

- Developing with Unikube
https://unikube.io/docs/guides/getting-started/developing-with-unikube.html

- Installing the Unikube CLI
https://unikube.io/docs/guides/getting-started/installation.html

[2022-01-26 10:18] marty-2015 commented on #100
I did some more brainstorming on more provocative one-/two-liners, here are my ideas @Schille @SteinRobert @Truthans

- Make your developers better at Kubernetes WITHOUT knowing Kubernetes."
- FCK Kubernetes! We have the right tool for you!
- Do you need a local Kubernetes development miracle? Here it is: Unikube!
- Everyone in your team asks you shit about Kubernetes. When you work with Unikube,

[2022-01-26 10:24] #113 closed, assigned to tobifroe, marty-2015

[2022-01-26 10:27] marty-2015 commented on #123
@Truthans I have included a short introduction text. Can the page go live now?

[2022-01-26 15:29] marty-2015 commented on #120
Changes are done, please review @Truthans

[2022-01-27 09:58] marty-2015 commented on #111
@Truthans @Schille here are the new versions. I think these are fine. My only feedback would be to make a dark outline on the white boxes in the transparent version.

V1 (transparent):
![Unikube RP - Infographic - V2 - Transparent](https://user-images.githubusercontent.com/86047585/151336011-6300f4ff-0c29-4561-875d-0faa5ee10d17.png)

[2022-01-27 09:58] marty-2015 commented on #111
V2 (dark):
![Unikube RP - Infographic - V2 (Inverted)](https://user-images.githubusercontent.com/86047585/151336101-4071168b-8708-4b21-903a-7e839ea1bdd1.png)

[2022-01-27 09:59] marty-2015 commented on #111
V3 (light):
![Unikube RP - Infographic - V2](https://user-images.githubusercontent.com/86047585/151336160-316d1783-e74e-4c15-8520-32850f838f42.png)

[2022-01-27 13:20] marty-2015 commented on #20
@Truthans final changes for the fact sheet are online now: https://docs.google.com/document/d/1Q_M4YdjiKPfxP6YspMgyzNxhGGcBjHz72p-Om3LNhdc/edit#

[2022-01-27 15:45] #30 closed

[2022-01-27 15:49] marty-2015 commented on #89
Reminder set in google calender. Application deadline 24.03.2022
- Details listed here: https://docs.google.com/spreadsheets/d/1BtJrmX8b3SMdCD8ThohzLEWp5OKLzc60Chzfx14yqzM/edit#gid=1803223038

[2022-01-27 15:49] #89 closed

[2022-01-27 15:50] marty-2015 commented on #112
Update: reminders set in google calender.

[2022-01-27 15:50] #112 closed, assigned to marty-2015

[2022-01-27 15:51] marty-2015 commented on #104
Update: Wir wurden nicht nominiert :(

[2022-01-27 15:51] #104 closed

[2022-01-27 15:56] marty-2015 commented on #94
Cloud Expo Europe Frankfurt is making its grand return to physical events on 11th - 12th May 2022. Register your interest now to get updates on the show and be the first to know when registration opens for the event!

@Truthans I have registered me and you for this, so we both get a notification when the registration opens.

[2022-01-27 16:03] vvvityaaa commented on #125
Here is the list of features:

- Better integration of Django and Kubernetes
- Tornado-powered Django application server
- Tornado-powered  Django AMPQ consumer
- Probe server out-of-the box with options for standard Kubernetes probes
- Webhooks to check up on the application status

[2022-01-27 16:10] marty-2015 commented on #125
thanks @vvvityaaa, can you please check whether this is the correct german translation?

- Bessere Integration von Django und Kubernetes
- Django-Anwendungsserver auf Tornado-Basis
- Tornado-getriebener Django-AMPQ-Anwender
- Sofort einsatzbereiter Probe-Server mit Optionen für Standard-Kubernetes-Untersuchungen
- Webhooks zur Überprüfung des Anwendungsstatus

[2022-01-27 16:43] Truthans opened #128 "Create datastudio dashboard for Unikube KPIs"
Create a dashboard for:
- Sessions last month
- Top sites from search console (clicks)
- Impressions per Month
- Klicks per Month
- Sales e-mails HubSpot
- Number of qualification calls
- Number of demos
- Registered users
- Video views YT

[2022-01-28 07:44] SteinRobert commented on #100
![image](https://user-images.githubusercontent.com/1231105/151507059-8d29543f-0b23-4ecb-83bb-b8d335a33063.png)

[2022-01-28 07:53] SteinRobert commented on #111
V1 / V3 ❤️

[2022-01-28 12:13] vvvityaaa commented on #125
- Bessere Integration von Django und Kubernetes
- Django-Anwendungsserver auf Tornado-Basis
- Django-AMQP-Anwender auf Tornado-Basis
- Sofort einsatzbereiter Probe-Server für Standard-Kubernetes-Sondierungen
- Webhooks zur Überprüfung des Anwendungsstatus

I think this way it should be better. I had a typo in AMQP, it is correct and not AMPQ, sorry about that.

[2022-01-31 10:03] marty-2015 commented on #125
great, thanks @vvvityaaa

[2022-01-31 10:22] #76 closed

[2022-01-31 10:23] #26 closed

[2022-01-31 10:28] Truthans commented on #3
- [ ] Check again if published in DevOps group and if not, submit again or post on private profile.

[2022-01-31 12:35] marty-2015 commented on #111
Update: feedback given to joel, waiting for final version.

[2022-01-31 12:45] marty-2015 commented on #123
@Truthans I have updated the page with the new features now.

[2022-01-31 12:54] marty-2015 commented on #125
@Schille @vvvityaaa I have created a new pull request for an update of the hurricane website - including this new feature list.

https://github.com/Blueshoe/django-hurricane/pull/54

[2022-01-31 16:55] Truthans commented on #12
@marty-2015 I have worked on the script and storyboard. I am not entirely sure how we show slide 9 but it is probably also a command line view. We should check that once more with Robert and Michael.
Also, this needs some proof reading.

[2022-02-01 09:30] marty-2015 commented on #12
@Truthans I have added another comment on the voice-over script. Also I'm not sure if we should do 3 slides with command line interfaces in a row? Seems a bit much. We can discuss this with Michael and Robert in the community meeting on thursday - because I cannot see any other free spot for a meeting.
Should I give the slides and the script to Annika before we have the final go from M&R?

[2022-02-01 11:56] tobifroe commented on #116
@Truthans @marty-2015 This is live, feel free to check it out

[2022-02-01 11:56] tobifroe commented on #115
@Truthans @marty-2015 This is live, feel free to check it out

[2022-02-02 09:16] Truthans commented on #126
@marty-2015 reviewed and made a few changes. Please have a look and implement when happy.

[2022-02-02 09:34] marty-2015 opened #129 "Change padding before/after image block"
I want to insert this illustration (see screenshot) on the blueshoe/unikube website. The padding is so huge, that it looks like a mistake. Can we make the spacing smaller please?

Also visible here: https://www.blueshoe.de/leistungen/django-hurricane/

website: https://www.blueshoe.de/leistungen/unikube/

![Bildschirmfoto 2022-02-02 um 10 32 23](https://user-images.githubusercontent.com/86047585/1

[2022-02-02 09:54] marty-2015 commented on #126
Done.

[2022-02-02 09:55] #126 closed, assigned to marty-2015

[2022-02-02 14:17] marty-2015 commented on #116
@tobifroe it works, but there is one issue: It seems to be expanding its size to the top, when there is not enough text on top of the button:
![Bildschirmfoto 2022-02-02 um 15 13 56](https://user-images.githubusercontent.com/86047585/152171057-73a180d0-ad5f-435b-8f5c-36995b618d81.png)

[2022-02-02 14:21] marty-2015 commented on #115
@tobifroe this also works, but there is one issue: When I click on it and I go back to the main page after, the text in the button disappears and reappears when I hover over it.

![Bildschirmfoto 2022-02-02 um 15 19 31](https://user-images.githubusercontent.com/86047585/152171918-9f03b542-f146-419c-8e56-4e7f078ce80b.png)

[2022-02-02 14:22] Truthans commented on #116
And the green buttons have a disappearing font once they've been clicked.

![Bildschirmfoto 2022-02-02 um 15 21 45](https://user-images.githubusercontent.com/5262921/152172040-cc9ccc53-7433-43d3-9973-e5cdca4433d5.png)

[2022-02-02 14:25] marty-2015 commented on #116
@Truthans I just saw that on the conversion button as well. So I guess it applies to all the green buttons @tobifroe

[2022-02-02 15:39] Truthans commented on #123
@marty-2015 I made some small changes and already published the page now. I also added the menu item. Please check this once the cache has run through. If everything is fine, this can be closed.

[2022-02-02 15:40] Truthans commented on #111
Would be great if you could post a link here later to where in g drive these illustrations can be found.

[2022-02-02 15:42] Truthans commented on #44
Is still an open topic?

[2022-02-02 15:47] Truthans commented on #3
Seems this was never published. I'll post it on my private profile next week and potentially the Unikube page.

[2022-02-02 16:02] Truthans commented on #100
I have refined a few of the suggestions:
"Your devs don't know much about Kubernetes? Fine."
"Fed up by devs asking you stuff about K8s? Make it stop."
"Learning Kubernetes stuff sucks, right? We feel you."

@marty-2015 let's discuss these in our meeting on Thursday.

[2022-02-02 17:29] tobifroe commented on #116
@marty-2015 @Truthans Just pushed a fix. Can you check again?

[2022-02-02 17:29] tobifroe commented on #115
@marty-2015 @Truthans Just pushed a fix. Can you check again?

[2022-02-03 08:40] marty-2015 commented on #44
no.

[2022-02-03 08:40] #44 closed

[2022-02-03 09:50] marty-2015 commented on #116
@tobifroe the expanding size issue is now fixed, but we still have an issue with disappearing link-text. When I clicked on the secondary button and come back to the page and mouse over the button, the text disappears.

![Bildschirmfoto 2022-02-03 um 10 44 49](https://user-images.githubusercontent.com/86047585/152319293-4621e457-69c4-4840-93b9-32cf176a1f8d.png)

[2022-02-03 09:52] marty-2015 commented on #115
@tobifroe the text doesn't disappear anymore, thats fine. One more thing: The outline of the box (Schlagschatten) stays on the link after clicking on it and coming back to this page. Shouldn't the outline disappear altogether after clicking on the button?

When I come back to the page after clicking on it, the button appears like this:
![Bildschirmfoto 2022-02-03 um 10 46 03](https://user-images.g

[2022-02-03 09:54] marty-2015 commented on #115
What we want it to appear is like this:
![Bildschirmfoto 2022-02-03 um 10 53 53](https://user-images.githubusercontent.com/86047585/152319837-d1417a78-98eb-4b14-a08f-e17329953b25.png)

[2022-02-03 09:54] tobifroe commented on #115
@marty-2015 That's not a box shadow, that's the outline to tell you that the button is focussed (eg hitting enter while having it focussed would send you to the link destination again)

[2022-02-03 09:56] tobifroe commented on #116
@marty-2015  My bad, I only checked this for the regular buttons. Fix is deploying right now

[2022-02-03 09:57] marty-2015 commented on #115
@tobifroe I see, but why would the button still be focussed after I visited the other page and returned back?

[2022-02-03 10:00] tobifroe commented on #115
@marty-2015 Why wouldn't it be? Focus state is saved across tabs.

[2022-02-03 10:09] marty-2015 commented on #123
@Truthans since we write Django in capital letters everywhere on this page, I would also stick to this in the headlines. I didn't see any menu icon added, so I added the logo. Let's see how this works in the menu.

[2022-02-03 10:11] marty-2015 commented on #115
It just irritates me. @Truthans what do you think?

[2022-02-03 12:39] Truthans commented on #115
That's fine, no change needed.

[2022-02-03 12:39] #115 closed, assigned to Truthans, tobifroe

[2022-02-03 13:51] marty-2015 commented on #100
V1 (grün)
![Reddit_LinkAd_1](https://user-images.githubusercontent.com/86047585/152355734-3bc80829-d563-4306-90ce-f418aadde2b6.png)

[2022-02-03 13:51] marty-2015 commented on #100
V1 (hellgrau)
![Reddit_LinkAd_1_hellgrau](https://user-images.githubusercontent.com/86047585/152355805-7dd03201-46d4-4618-b49e-e90e5187f6e3.png)

[2022-02-03 13:57] marty-2015 commented on #100
V2 (grün)
![Reddit_LinkAd_2_gruen](https://user-images.githubusercontent.com/86047585/152356889-619da261-b674-47c9-a355-9fd4bb8ad51a.png)

[2022-02-03 13:58] marty-2015 commented on #100
V2 (hellgrau)
![Reddit_LinkAd_2_hellgrau](https://user-images.githubusercontent.com/86047585/152356969-29ed5b5d-feb0-4b51-9132-0b9f6443fa36.png)

[2022-02-03 13:58] marty-2015 commented on #100
V3 (grün)
![Reddit_LinkAd_3_gruen](https://user-images.githubusercontent.com/86047585/152357008-84dc58c7-2923-4cf4-b6c3-4b829a64c8ad.png)

[2022-02-03 13:58] marty-2015 commented on #100
V3 (hellgrau)
![Reddit_LinkAd_3_hellgrau](https://user-images.githubusercontent.com/86047585/152357053-ae731f59-85fe-4619-a0f9-ac540a368494.png)

[2022-02-03 14:00] marty-2015 commented on #100
Please review @SteinRobert @Schille @Truthans

[2022-02-03 17:08] Truthans opened #130 "Add demo account to getting started guide"
Add test account credentials to getting started guide.

User: sandbox@unikube.io
pw: #4kEMU8aPm

[2022-02-03 17:43] Truthans commented on #100
@marty-2015 you did these in canva, right? Can you share them with me? If not, let's have a look together.

[2022-02-04 13:51] tobifroe commented on #127
@marty-2015 Fixed, the links on the help page work as expected now.

[2022-02-07 11:32] Truthans commented on #122
Fixed!

[2022-02-07 11:32] #122 closed, assigned to Truthans

[2022-02-08 09:34] marty-2015 commented on #127
Yes, it works now. Thanks @tobifroe

[2022-02-08 09:34] #127 closed, assigned to tobifroe

[2022-02-08 09:37] marty-2015 commented on #100
@Truthans no, I did those on gimp, because Canva doesnt have the right format and also I cannot save everything properly with our free account. I did them with gimp, you can find them here, I created an Ad folder in Unikube Marketing: https://drive.google.com/drive/u/1/folders/1wwzgeMvgUvcBG-4l8gZJnzll3uX3xp2K

[2022-02-08 10:30] marty-2015 commented on #111
https://drive.google.com/drive/u/1/folders/1kFJd7Qo62gv3ecXbzIJbWMWwvgR-FKNZ

[2022-02-08 10:31] #111 closed, assigned to marty-2015

[2022-02-08 10:45] marty-2015 commented on #119
Update (08.02.) this is next on the list

[2022-02-08 10:46] marty-2015 commented on #129
Task update: First thing on the list (08.02.)

[2022-02-08 13:42] marty-2015 commented on #12
@Truthans I have included all the corrections form our proof reader. For the last sentence on the voice-over I would like to have your opinion. Which one do you like better? Annika listed two options in the comments: https://docs.google.com/document/d/1q6-XM8eR0y4bblBHb0_0uSgDfAY1ZWX5a3uvZ2U3YR8/edit#heading=h.u8jr0nwp468b

[2022-02-09 10:08] #125 closed, assigned to vvvityaaa

[2022-02-09 10:16] marty-2015 commented on #123
@SteinRobert @tschale I have changed a lot of the wording, please check again for a final review:
https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/98/edit/preview/

[2022-02-09 11:15] Truthans commented on #12
I have made another suggestion in the doc. Please check.

[2022-02-09 11:26] marty-2015 commented on #12
Meinst du "is the way how"? Das finde ich auch sehr sperrig und Deutsch.

[2022-02-09 11:29] Truthans commented on #12
Then I'd go for "Unikube is the future of cloud application development"

[2022-02-09 11:49] marty-2015 commented on #12
Me too, great!
So we can close this issue?

[2022-02-10 14:16] Truthans commented on #100
As discussed, try one version with the logo smaller and the text centrally aligend, both vertically and horizontally.

[2022-02-10 16:59] tschale commented on #123
@marty-2015 Looks good! There is one sentence I would change a little, but maybe that's just personal preference.

Original:

New:

[2022-02-14 15:45] tobifroe commented on #129
@marty-2015 Fixed, will be available in the staging environment in a minute.

[2022-02-14 15:45] tobifroe commented on #119
@marty-2015 Fixed, will be available in the staging environment in a minute.

[2022-02-15 09:53] marty-2015 commented on #119
@tobifroe I don't see it working in the preview mode. Does this have to be published to be visible?
<img width="1237" alt="Bildschirmfoto 2022-02-15 um 10 52 09" src="https://user-images.githubusercontent.com/86047585/154037301-54e176bb-193f-47ed-9e9e-c0ffc099c21d.png">

[2022-02-15 09:56] marty-2015 commented on #129
@tobifroe I don't really see a big space difference here at the top: https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/70/edit/preview/

[2022-02-15 10:13] tobifroe commented on #129
@marty-2015 I reduced the padding further (now 80px less than what it was before).

[2022-02-15 10:13] tobifroe commented on #119
@marty-2015 My bad. Fixed now.

[2022-02-15 10:35] #129 closed, assigned to tobifroe

[2022-02-15 10:35] #119 closed, assigned to tobifroe

[2022-02-15 11:09] marty-2015 commented on #123
yap, thats personal preference I would say @tschale. I would like to leave it like that.

[2022-02-15 11:11] marty-2015 commented on #123
@Truthans can I publish the page now?

[2022-02-17 08:33] Truthans commented on #3
Posted on my private account.

[2022-02-17 08:33] #3 closed

[2022-02-17 08:41] Truthans commented on #47
Couple of content ideas:

- The following local vs. cloud comparison is really cool. We could do that with Unikube but we would do "local development without Unikube vs. Local Development with Unikube" https://www.gitpod.io/vs/local-development
- docker compose vs. local kubernetes development
- spring cloud kubernetes local development
- kubernetes development workflow
- kubernetes development be

[2022-02-17 09:18] Truthans commented on #123
Go ahead!

[2022-02-17 09:19] #123 closed, assigned to SteinRobert, tschale, marty-2015

[2022-02-21 13:37] marty-2015 commented on #77
@Truthans this is done, please review the topics marked in red.

[2022-02-21 13:38] marty-2015 opened #131 "Research journalists & blogs"
https://docs.google.com/spreadsheets/d/1BtJrmX8b3SMdCD8ThohzLEWp5OKLzc60Chzfx14yqzM/edit#gid=528225323

Tasks
- [ ] Make a list of blogposts/authors that fit our topics with Unikube (Cloud Native, Kubernetes, Docker, etc.)
- [ ] Contact journalists and ask if they are interested in writing about our new product - first look/glance approach
- [ ] Maybe promise a certain goodie to get more journalis

[2022-02-21 14:09] marty-2015 commented on #100
@Truthans like this?

V hellgrau:
![Reddit_LinkAd_2 1](https://user-images.githubusercontent.com/86047585/154970968-cb7e45e9-976b-403d-b9c4-20c9b899f1c3.png)

V grün:
![Reddit_LinkAd_2 2](https://user-images.githubusercontent.com/86047585/154970942-c5f75d4a-0c63-4c74-9ddd-baf9edc05a69.png)

[2022-02-22 10:38] marty-2015 commented on #118
Update: @tobifroe adds rich text and button option.

[2022-02-24 10:44] marty-2015 commented on #117
@SteinRobert do you have an update for the ticker development from last week?

[2022-02-24 13:45] marty-2015 commented on #130
@Truthans updated on 3 pages: getting started, installation & project setup

[2022-02-24 14:14] Truthans commented on #100
@marty-2015 I would put the "make it stop" in a new line and write DEVs capitalized. Other than that it looks good.

[2022-02-24 14:18] Truthans commented on #91
@marty-2015 currently Viktor is building a step-by-step guide to make it easier to understand the implementation of Hurricane. I'd like to wait until this is done before I start the outreach.

[2022-02-24 14:29] Truthans opened #132 "Google Tag manager in docs pages"
@tobifroe we want to track where users may leave the journey in the getting started guide. Therefore I need our tag manager snippet to also be included in all pages under https://unikube.io/docs/

Can you integrate the following snippet just at the top of the <head> tag:

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByT

[2022-02-24 14:47] Truthans commented on #132
@tobifroe man, it really sucks to integrate the code snippets here. I put them in a doc:

https://docs.google.com/document/d/1OuesTrHY2v7fQuLMPaipFT8DGxQlxB1k7XVTPNesja0/edit?usp=sharing

[2022-02-24 14:51] tobifroe commented on #132
Wrapping snippets in triple backticks ``` should do the trick:
[code]
And the following snippet directly after the opening tag:
[code]

[2022-02-24 15:20] tobifroe commented on #132
@Truthans Just added the scripts. Chances are you'll see a cached version now (at least I do), but you should be able to check it out in an hour max.

[2022-03-01 10:36] #132 closed, assigned to tobifroe

[2022-03-01 13:47] marty-2015 commented on #100
@Truthans ads are ready - 6 pngs, 3 different wordings in grey and green. You can find them here: https://drive.google.com/drive/u/0/folders/1wwzgeMvgUvcBG-4l8gZJnzll3uX3xp2K

[2022-03-02 15:03] #130 closed, assigned to marty-2015

[2022-03-02 15:06] Truthans opened #133 "Enter Gefyra/Unikube/Hurricane into Hacker News"
https://news.ycombinator.com/show

- [ ] Gefyra posted
- [ ] Unikube posted
- [ ] Hurricane posted

[2022-03-02 15:09] Truthans opened #134 "Post Projects to https://www.echojs.com/"

[2022-03-02 15:15] Truthans opened #135 "Post projects to https://lobste.rs/"
Post our projects:

- [ ] Gefyra
- [ ] Unikube
- [ ] Hurricane

[2022-03-02 15:16] Truthans opened #136 "Post projects to betapage"
Post here: https://betapage.co/

- [ ] Gefyra
- [ ] Unikube
- [ ] Hurricane

[2022-03-02 15:19] Truthans opened #137 "Post projects to Producthunt"
Registration takes 3 days.
https://www.producthunt.com/

- [ ] Gefyra
- [ ] Unikube
- [ ] Hurricane

[2022-03-03 14:29] marty-2015 opened #138 "Hire new freelance designer"
Designer Test:
https://drive.google.com/drive/u/0/folders/12GqTF7mQIyPRxn0WB3LkicKhy0sITnPp

Briefings:
https://docs.google.com/document/d/1NH8lERu4YF_sj2cGksVOGGYQpJRJpac1-530SMdGCKI/edit

[2022-03-03 14:31] marty-2015 opened #139 "Integrate Pop-up Newsletter form"

[2022-03-03 14:32] marty-2015 opened #140 "Integrate new feature list"
New Feature List:
https://docs.google.com/document/d/1d9lUIqJDOX7CqZSn1e8F_X0V9Frlm9hrdHLeUaU1x2U/edit

[2022-03-03 14:33] marty-2015 opened #141 "Integrate visions"
Visions for Unikube
https://docs.google.com/presentation/d/1Z6KOphp_mP9VH2AA6K-sxBnshWMwCgClxfWuBqLVkmg/edit#slide=id.g115b0ffe822_0_364

[2022-03-08 09:27] Truthans opened #142 "Integrate hubspot snippet in docs pages"
@tobifroe can you add the hubspot tracking code to the docs pages too? Apparently it's supposed to go just before the closing </body> tag.

[code]

[2022-03-08 12:54] Truthans opened #143 "Add newsletter sign-up to various pages."
I have created a newsletter sign up form. Would be great if we could add that to various pages in the docs section:
https://share.hsforms.com/1Zw03-KPeSoyrimpyVs_Iuw1rv6s

For example to all roadmap items, the "next steps", etc.

[2022-03-09 16:25] Truthans opened #144 "Make Unikube video on starting page native again."
Since we have the Google Tag Manager properly integrated now, we can return to integrate our videos natively again and therefore avoid another click. Unfortunately I couldn't find the video in the wagtail file system. @marty-2015 can you take this over?

[2022-03-10 10:25] marty-2015 commented on #138
@Truthans @Schille please review:

Test #1 (Shallu Narula) (4 hours)
1. Time -> possibly a simple clock?

![Bildschirmfoto 2022-03-10 um 11 24 37](https://user-images.githubusercontent.com/86047585/157642338-b6651a4d-c355-403b-8caf-9bd8b0821efc.png)

2. A development environment
![Bildschirmfoto 2022-03-10 um 11 25 09](https://user-images.githubusercontent.com/86047585/157642418-671b3253-9cab-4d2f

[2022-03-10 10:27] marty-2015 commented on #138
Test #2 (Natalia Potipko) (3 hours)

1. Team with 5 different people/developers
![Bildschirmfoto 2022-03-10 um 11 26 51](https://user-images.githubusercontent.com/86047585/157642731-fe7dcb12-7011-4c21-88ae-4bb6b1c32b5b.png)

2. Loading bar for download/illustration
![Bildschirmfoto 2022-03-10 um 11 27 11](https://user-images.githubusercontent.com/86047585/157642796-3c964b7e-c282-4f98-bad3-4289bed5

[2022-03-21 11:19] marty-2015 commented on #140
@Truthans  @Schille  I just made a new feature page, its called "Features NEU" - the old page still exists. The new one is saved as a draft here: https://cms-dot-blueshoe-website-v4.ew.r.appspot.com/cms/pages/100/edit/ Please check it out.

Feedback: Michael Schilonka, Fri 10:55
- ohne grafiken wirkt es ziemlich dense, aber ok.
- gefällt mir besser als unsere aktuelle feature seite 🙂

Feedback Mel

[2022-03-21 17:50] Schille commented on #140
Thanks for bringing this up. What is my task here?

[2022-03-23 10:46] Truthans commented on #140
@Schille @marty-2015 I published the page now, since it's clearly better than the old one but I think the old one is still in cache. We should still replace the icons for the steps 1 - 3.

[2022-03-23 15:05] #139 closed, assigned to Truthans

[2022-03-23 15:05] #140 closed, assigned to Schille, Truthans, marty-2015

[2022-03-23 15:07] #96 closed

[2022-03-23 19:32] #109 closed, assigned to Schille

[2022-03-23 19:33] #144 closed, assigned to marty-2015

[2022-03-23 19:38] Truthans opened #145 "Blog post: Alternative to Telepresense"
Edit and publish blog post:
https://docs.google.com/document/d/1CHzb9TvxCH6zGGvlfLZVkZ5zvShYI5u5qbNx2wPwfXo/edit#heading=h.z62yqatkurt6

[2022-03-23 19:40] Truthans opened #146 "Blog post: Testing code locally with kubernetes"
https://www.reddit.com/r/kubernetes/comments/tewhqf/how_are_your_developers_testing_their_code_locally/i0v7m3z/?utm_source=share&utm_medium=web2x&context=3

Convert into blogpost. Edit and publish on Unikube.io

[2022-03-23 19:48] Truthans opened #147 "Blog post: Creating Executables in Python: comparison of Nuitka vs. PyOxidzer vs. PyInstaller"
https://www.reddit.com/r/Python/comments/tl3jwz/creating_a_python_cli_with_golangcomparable/

Convert to blog post. Edit and publish.

[2022-03-29 09:31] #142 closed, assigned to tobifroe

[2022-03-29 09:32] #114 closed, assigned to nobody

[2022-03-29 09:38] #116 closed, assigned to tobifroe

[2022-03-29 15:03] Truthans commented on #136
Just posted Gefyra to beta page. Review will take 32 days.

[2022-03-29 16:08] Truthans opened #148 "django hurricane on django news"
https://django-news.com/

[2022-03-31 11:10] #77 closed

[2022-03-31 11:15] #59 closed, assigned to tobifroe

[2022-04-01 20:28] #145 closed, assigned to Truthans

[2022-04-01 21:08] Truthans commented on #146
Draft: https://drive.google.com/drive/folders/1yNQQOABXdo1xa2PFp_qt5EU7_zh13Naa

[2022-04-20 11:41] #138 closed, assigned to Truthans, marty-2015

[2022-05-12 11:51] Truthans commented on #148
TBD:
https://www.canva.com/design/DAFAe8ZWsOs/wTi-GkUqXsn5VxIAd5fn2Q/edit?utm_content=DAFAe8ZWsOs&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

And we also need a tweet-able 1 - 2 sentence twitter description.

This is the ref link:
https://django-hurricane.io/?utm_source=django-news&utm_medium=banner&utm_campaign=hurricane

[2022-05-12 11:59] #146 closed, assigned to Truthans

[2022-05-12 11:59] #128 closed, assigned to Truthans

[2022-05-19 09:25] Schille commented on #148
What do you thing about these?
[code]

[code]

[code]

[2022-05-20 11:28] Truthans opened #149 "Page width endless on Android"
@tobifroe I don't know how better to describe it but on the landing page (and probably some others) the right side of the page does not seem to have a limitation, you can almost endlessly scroll to the right and can find the menu button somewhere hidden deep in the eastern border of the page.

Only saw it live on @Schille phone, so if you can't reproduce it, please ask him.

[2022-06-09 07:59] Truthans opened #150 "GTM Integration in blueshoe.io"
@tobifroe could you integrate the following GTM code snippets in the blueshoe.io template:

Oben im head:

[code]
Direkt nach öffnendem Body Tag:

[code]

[2022-06-09 10:04] TabeaHe commented on #147
Hier ist der Entwurf
https://drive.google.com/drive/folders/1lGBJ1LRDwt83e3rEQuslAddsxjP6lZEz

[2022-06-10 07:54] tobifroe commented on #150
@Truthans Done.

[2022-06-10 11:01] Truthans commented on #150
@tobifroe perfect, thanks!

[2022-06-10 11:01] #150 closed, assigned to tobifroe

[2022-06-13 16:36] Truthans commented on #147
@TabeaHe I reviewed it, you can try putting it in the CMS.